[2015-12-31 02:41] gerkey opened #11 "Periodic crash in services test"
Following #10, I'm trying to get `system_tests.test_rclcpp.test_services_cpp__rmw_fastrtps_cpp` to pass reliably, and I can't. I've seen a variety of segfaults, aborts for double-free, and deadlocks. I just spent some time digging through the code and have failed to figure out the problem. If you have everything built, then you can reproduce the problem like so (I've been testing on Linux):

[code

[2015-12-31 20:20] gerkey commented on #11
Looking at our Jenkins jobs, it seems that we're seeing intermittent crashes in multiple tests when using Fast-RTPS, e.g.:

* double-free abort (Linux): http://ci.ros2.org/view/nightly/job/nightly_linux/144/testReport/%28root%29/test_services_cpp__rmw_fastrtps_cpp/test_services_cpp/
* double-free abort (Linux): http://ci.ros2.org/view/nightly/job/nightly_linux/144/testReport/%28root%29/test_cyclic

[2015-12-31 20:59] richiprosima commented on #11
We will analyze the problem. Thanks for your info

[2016-01-04 15:58] richiprosima commented on #11
I believe I found the problem. I'm testing a solution.

[2016-01-04 17:53] gerkey commented on #11
That sounds promising. Let me know if we can help with testing.

[2016-01-05 15:49] richiprosima commented on #11
I've updated FastCDR and FastRTPS. In this update there are changes to resolve the segmentation fault.

[2016-01-05 19:28] gerkey commented on #11
Thanks for looking into the problem. I updated Fast-CDR and Fast-RTPS and rebuilt everything. I'm still seeing occasional crashes from the `while` loop mentioned in the description of this issue. E.g., here's a segfault (return code -11) in the service server process:

[code]

In this situation, I'm not getting a core file, so I can't provide any more detail (maybe nosetests and/or asyncio are get

[2016-01-05 19:33] gerkey commented on #11
Also, more often than the segfaults, I'm still seeing deadlocks in this test. I.e., both client and server are still running (haven't crashed), but they're not meeting the termination condition for the test. Any idea what's causing that problem?

Here's a backtrace from attaching to the service server:
[code]

Here's a backtrace from attaching to the service client:
[code]

[2016-01-05 20:37] gerkey commented on #11
Turns out that I wasn't getting a core file because I had an old one already present in the same directory; rookie mistake.

After rebuilding in `RelWithDebInfo`, here's a stack trace from a server-side segfault, showing that `info_->request_subscriber_` is null [here](https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/master/rmw_fastrtps_cpp/src/functions.cpp#L904). The crash results from try

[2016-01-05 21:12] gerkey commented on #11
In the stack trace I posted, there's a missing step between frame 2, where `onNewCacheChangeAdded()` is called, and frame 1, where we're in `onNewDataMessage()`. Looking through the code, I would guess that we're going through [this function](https://github.com/eProsima/Fast-RTPS/blob/master/src/cpp/subscriber/SubscriberImpl.cpp#L174-L181), and that's it's unavailable in the debugger due to inlini

[2016-01-05 21:31] gerkey commented on #11
After adding some debug prints, I can see that, when the segfault occurs, [this line](https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/master/rmw_fastrtps_cpp/src/functions.cpp#L1326) is about to execute (i.e., I see a print from immediately before), but it doesn't complete (i.e., I don't see a print from immediately after). Looks like somebody is trying to use the service object before it's

[2016-01-07 15:49] richiprosima commented on #11
Hi I couldn't replicate the segmentation fault. But I know what is happening. I've updated FastRTPS and ROS-RMW-Fast-RTPS-cpp repositories. Also I fixed a deadlock.

[2016-01-11 20:52] gerkey commented on #11
Thanks!

The nightly build (which runs each test 20 times to check for sporadic failures) has been passing on Linux for several days now, which is very promising: http://ci.ros2.org/view/nightly/job/nightly_linux/.

There are still some FastRTPS test failures in the nightly for OSX: http://ci.ros2.org/view/nightly/job/nightly_osx/182/testReport/, but that might not be the fault of FastRTPS. I'll l

[2016-01-11 21:21] gerkey commented on #11
When built in Debug mode (pass `--cmake-args -DCMAKE_BUILD_TYPE=Debug` to `ament.py` when building), I'm still seeing pretty frequent deadlocks. And I just got another segfault in the server process. Below is the backtrace from the two threads that seem relevant; maybe they're fighting over access to the logging system (both threads are at [this line](https://github.com/eProsima/Fast-RTPS/blob/mas

[2016-02-09 20:11] gerkey commented on #11
With the latest changes, we haven't seen any failures in our nightly CI in some time, which is great!

When locally testing on Linux, I'm still able to get the test to hang sometimes, but I'm not seeing any crashes. I'll close this ticket and open a new one if and when I can provide more information about the hangs.

[2016-02-09 20:11] #11 closed

[2016-02-09 22:44] jacquelinekay opened #14 "Implement missing RMW functions"
The following functions in src/functions.cpp are not implemented yet:

https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/master/rmw_fastrtps_cpp/src/functions.cpp#L1770-L1806

We haven't exercised these functions outside of the ros1bridge yet, but this limitation came up recently in ros2/system_tests#103.

[2016-02-11 02:46] gerkey opened #16 "Reset fixed guard conditions"
In ros2/rmw_connext#125, we found that the fixed guard conditions were never being reset to false, leading to `rmw_wait()` in many situations waking up immediately, every call. We fixed it in [rmw_connext](https://github.com/ros2/rmw_connext/pull/129) and [rmw_opensplice](https://github.com/ros2/rmw_opensplice/pull/111) by resetting the fixed guard conditions to false before existing `rmw_wait()`.

[2016-04-27 15:44] dirk-thomas commented on #16
Fixed guard conditions have been removed some time ago (e.g. ros2/rmw_connext#147). Closing...

[2016-04-27 15:44] #16 closed

[2016-05-05 10:24] JaimeMartin commented on #14
Hi Jackie,

We are working on this. We will keep you posted.

[2016-05-05 15:34] jacquelinekay commented on #14
Thanks!

Pinging @wjwwood too since I believe he needs this for his work on the Graph API.

[2016-06-01 18:02] wjwwood opened #33 "Fix clean up on failure in rmw_* functions"
Currently most `rmw_*` functions do not gracefully clean up on an error, i.e. they can leak memory when the function fails. This pertains mostly to the `rmw_create_*` functions.

Related: https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/32#discussion_r65369237
Connects to #122

[2016-06-03 22:40] jacquelinekay opened #36 "Magic numbers in serialization"
https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/master/rmw_fastrtps_cpp/src/TypeSupport.cpp#L180\

        if(vector.size() > (member->is_upper_bound_ ? member->array_size_ : (typeByDefaultLarge() ? 30 : 101))) { \
            printf("vector overcomes the maximum length\n"); \
            throw std::runtime_error("vector overcomes the maximum length"); \
        } \

https://github.com/ePro

[2016-06-06 19:28] richiware commented on #36
Those "magic numbers" were a consequence of not having fragmentation in
FastRTPS. There are some meta-topics used in ROS2 whose types have a maximum
serialized payload larger than 65536. An examples is _ParameterEvent_. In IDL
if a sequence hasn't got a maximum length, it was set to 100. Those types has
several sequences and the calculated maximum serialized length is too large. I
made some calcul

[2016-06-24 22:19] wjwwood commented on #36
@richiware I've been trying to remove these restrictions and test out our demos that send images. I am trying to do this by using the FastBuffer with internally managed memory (the default constructor) on publish/serialize:

[code]

To do this I had to make some changes to FastCDR so it would try resizing before giving up when deserializing:

[code]

I think there are other places that will be nec

[2016-06-24 22:56] wjwwood commented on #36
I figured out that my changes around using the dynamically resizing FastBuffer resulted in writing nothing when publishing.

So now I'm trying to figure out how to specify the payload size at publish time. It seems to me that the payload size doesn't change per publish but per instance. Maybe an assumption that the "serialized size" doesn't change? I'm going to keep digging...

[2016-06-24 23:33] wjwwood commented on #36
Nevermind, again... The size is not passed to write, because the void * there gets passed back around to the virtual function that we define in this repositories code, so we cast it back to a structure which is the data pointer + a size.

I'm currently going through and replacing that simple structure with the `eprosima::fastcdr::FastBuffer` since it can serve as storage and is resizeable during s

[2016-06-25 00:28] wjwwood commented on #36
Ok, I have it working now, but the performance isn't as good as I was hoping it would be.

Looking at wireshark it looks like we're sending everything twice to a unicast address and a multicast address. Is there a good way to control that? Maybe I'm mistaken about that too.

Also, are there any fragmentation buffers or resource limits I can adjust? My naive guess is that the messages aren't arrivi

[2016-06-25 00:53] wjwwood commented on #36
Another interesting data point, thanks to @codebot for suggesting it: If I change the publish period in the cam2image program from the default 30 Hz to something like 1 Hz, or even a period of 5 seconds, I still only receive one image in about 100. I see this with both reliable and best-effort.

This points to some kind of race condition one completing the fragments on the subscription side or som

[2016-06-27 07:04] adamdbrw opened #43 "FastRTPS rmw QoS settings are not applied"
-> https://github.com/ros2/ros2/issues/247
Fix: https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/42

[2016-06-27 14:00] richiprosima commented on #36
@wjwwood  I was testing _cam2img_ and _showimage_ applications. I was working in `master` branch except in _demo_ repo where I used `image_tools_tests_redux`. As in `master` branch is still the fixed value 101 for maximum length of an unbounded array, I had to increase this value to 300000 because _cam2img_ sends arrays of more than 200000 elements.
[code]

Also I added extra configuration in the

[2016-06-27 14:10] dirk-thomas commented on #43
Addressed by #42.

[2016-06-27 14:10] #43 closed

[2016-06-28 23:02] wjwwood commented on #36
@richiprosima I applied the settings for the heartbeat and throughput controller, and narrowed the subscriber to only the multicast address. I believe I did this correctly (the params structure looks right in the debugger). I was already turning on asnyc publishing.

However, I'm still seeing the behavior that only a few of the images get through.

I have some thoughts on why that might be, first

[2016-06-29 23:18] wjwwood commented on #36
Ok, so my changes do *not* work on Linux, because of how I override the `m_typeSize`. On Linux the program fails because the pre-allocation of the `SerializedPayload` classes call `calloc` based somehow on the `m_typeSize` and since I set that to `size_t::max` they fail to allocate and return `nullptr`.

On OS X, this just works because of how OS X implements malloc, see: http://www.cocoawithlove.

[2016-06-29 23:32] wjwwood commented on #36
Actually https://developer.apple.com/library/prerelease/content/documentation/Performance/Conceptual/ManagingMemory/Articles/MemoryAlloc.html#//apple_ref/doc/uid/20001881-99765 may be more enlightening. Thanks to @codebot for pointing that out to me.

[2016-06-30 16:50] wjwwood commented on #36
I just wanted to update on this thread that I was able to get this working on Linux and it behaves as expected (most if not all messages are received). I had to make some changes in FastRTPS to support this, however. I'll post those changes up as soon as I am able.

[2016-07-01 01:54] wjwwood commented on #36
After discussing with @richiprosima, I'm going to clean up my patches to Fast-CDR and Fast-RTPS. The goal is to get Fast-CDR and Fast-RTPS into a state where we can do all dynamic allocation for publishing and subscribing (no fixed max size for messages).

Note: when I say "messages" I typically mean "samples" in DDS terms.

Long term, I think it would be good serve these use cases:

1. pre-alloca

[2016-07-01 21:29] gerkey opened #46 "Repeated service calls fail (at least for parameters)"
This test, which sets some parameters and then tries to retrieve them 10 times in a row:

https://github.com/ros2/system_tests/commit/0c7f5517f3a764683aae036ed97849d7632b826f

fails for FastRTPS, producing output like this:
[code]
That is, the first iteration works, but subsequent ones fail. The same test passes for OpenSplice (and, I'm pretty sure, Connext).

[2016-07-05 17:04] dirk-thomas opened #48 "repeated service response not received"
One of our tests (`test_client_scope_cpp` in `test_rclcpp`) creates a service client, calls the service and checks the response. After that it does the same cycle a second time. While it works fine on all other rmw implementation with FastRTPS the second response is never received. The server receives both requests and replies both time. But the client seems to never receive the second reply. Any

[2016-07-05 23:02] wjwwood commented on #48
Is this related to @gerkey's report? https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/issues/46

His is about parameters, but it seems to be rooted in multiple service calls.

[2016-07-05 23:05] dirk-thomas commented on #48
That ticket mentioned an exception which doesn't happen in this case. I don't know if the source of the problem is related but the symptom is different. Also the case from this ticket is already on master and reproducible an all platforms and build types.

[2016-07-06 00:18] gerkey commented on #46
Interestingly, that repeated service call test also fails on Connext (http://ci.ros2.org/job/ci_linux/1629/testReport/(root)/projectroot/gtest_local_parameters__rmw_connext_cpp/):

[code]
That one is for Linux; a similar result is produced for OSX (http://ci.ros2.org/job/ci_osx/1225/testReport/(root)/projectroot/gtest_local_parameters__rmw_connext_cpp/).

[2016-07-06 00:55] dhood commented on #48
I have been looking into this issue. that test started failing when https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/42 was merged: it's related to the QoS policy. before that PR was merged, every demo was essentially permanently using default parameters

For the `test_client_scope_cpp` test, now that the QoS policy takes effect, the server and the first client use the `RMW_QOS_PROFILE_SERVI

[2016-07-06 15:36] richiprosima commented on #46
@gerkey I was testing the test. The problem with FastRTPS is the History QoS is set to KEEP_LAST and depth is 10. This test sends more than ten samples and very fast. 11th sample writting fails because there are unacknowledged samples in the publisher history.
By default Heartbeat period is 5 seconds. Until Heartbeat is not sent, subscribers don't inform publisher they have the samples. To resolve

[2016-07-06 15:59] dirk-thomas commented on #46
I guess the right fix is then to update the queue size in our test to accommodate all the messages sent in a short interval.

[2016-07-06 20:16] dhood commented on #48
update: the claimed default durability settings for publishers [here](https://github.com/eProsima/Fast-RTPS/blob/3cf7996c9cea21a4bdc4ee5f8dc6763069cd85f2/include/fastrtps/qos/QosPolicies.h#L60) are not being applied (they're getting subscriber defaults). working on a fix

[2016-07-06 21:41] gerkey commented on #46
ros2/rclcpp#236 increases the history depth to 1000 (by using our already-defined parameter qos profile), which fixes the problems that I'm having.

@richiprosima, do you want to leave this ticket open while you keep investigating other fixes?

[2016-07-07 00:41] dhood commented on #48
So, this issue can be fixed by any combination of the following:

1. changing reliability to system defaults [(original fix)](https://github.com/ros2/system_tests/commit/c460537948b7ef01120bd8aedf6f4161d2743055)
2. changing durability to volatile (#44)
3. changing fastrtps defaults back to how they were before [this commit](https://github.com/eProsima/Fast-RTPS/blob/93088db71c088dc04ffa77418c2492d

[2016-07-07 14:13] richiprosima commented on #46
@gerkey I pushed eProsima/Fast-RTPS@5a697cdae80. It solves the bug that often causes the return of a 0 sequence number. You can close this ticket if your test continues working successfully.

[2016-07-09 01:44] gerkey commented on #46
I don't know which change is the cause, but my tests are passing now, thanks!

[2016-07-09 01:44] #46 closed

[2016-07-29 10:08] richiprosima commented on #48
@dirk-thomas  @dhood @wjwwood Last update of FastRTPS should be solved this bug.

[2016-07-29 15:47] dirk-thomas commented on #48
@richiprosima Can you please reference the change which addresses the problem.

[2016-08-05 11:18] richiprosima commented on #48
Last commit adding the send of an initial heartbeat and nack is eProsima/Fast-RTPS@7b9fdd29b77883d5310e82e454dcef0fb9973b41

[2016-08-27 00:26] #36 closed

[2016-09-06 13:45] firesurfer opened #55 "Services not implemented in FastRTPS yet?"
Am I right in the assumption that services aren't fully implemented yet in the FastRTPS middleware?

The add_two_ints_client example throws this exception at the moment:

[code]

After reading #48 I would expect that services are at least somehow implemented?

In case this isn't just a bug, what is currently missing in order to use services with fastRTPS?

[2016-09-06 16:45] dirk-thomas commented on #55
Services themselves are implemented in FastRTPS. But some additional introspection method are not yet available. E.g. `rmw_service_server_is_available` which is being used to avoid race conditions (ensure that the server is up and running before the client sends requests): https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/e336a8b0f93c8179cc2b4a62d02272403ed356bb/rmw_fastrtps_cpp/src/functions

[2016-09-06 16:45] #55 closed

[2016-09-09 11:47] richiprosima commented on #14
service_is_available functionality for Fast-RTPS in #56.
@wjwwood I noticed that function wait_for_service calls only one time to rmw_service_is_available function. It should test more times, shouldn't it?

[2016-09-09 11:47] richiprosima commented on #14
#56

[2016-09-15 22:37] wjwwood commented on #14
@richiprosima `rmw_service_is_available` is a non-blocking call, so no it only checks once. The idea is that you're waiting for changes to the graph and only call this function once at the beginning and once each time the graph changes, until it either returns true or you've waited as long as you're willing to wait. See the implementation for `wait_for_service` in rclcpp:

https://github.com/ros2/

[2016-09-20 21:07] #14 closed

[2016-09-21 16:58] dhood commented on #48
Thanks @richiprosima, can confirm that this is fixed. This can be closed.

[2016-09-21 17:45] #48 closed

[2016-10-13 20:36] Theosakamg opened #60 "Why limited the maximum size of a STRING"
I not find any reference in ROS2 & IDL documentation.
But actualy the code is limited to 255.

in https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/master/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSupport_impl.h
[code]

I remove the limitation and I send a String of 1024 without any problem.

[2016-10-13 22:44] dirk-thomas commented on #60
Thanks for reporting this. We explicitly test for support of strings > 255 characters (by sending a string with 256: https://github.com/ros2/system_tests/blob/155879c626d991c74f5a4a08e6d5a8f4ac663382/test_communication/test/message_fixtures.hpp#L117-L121). But this rmw impl. allows 256 but not 257 :confused:

I have no idea why preventing > 256 would make any sense and created #61 to remove the ar

[2016-10-16 22:43] #60 closed

[2016-10-29 00:25] wjwwood opened #64 "missing functionality in graph API"
While working on local graph changes for Connext I noticed two things about the FastRTPS implementation:
- publishers and subscribers do not get removed from topic_names_and_types ever (even when destroyed)
- count publisher and subscribers does not appear to count the publishers and subscribers but rather the number of different types on a topic

This can be shown using the graph tests in `rcl`,

[2016-11-29 00:00] dhood opened #68 "Error when publishing more than 5000 messages and using "keep all" history"
**Context**:
I am leaving a publisher with default QoS settings to run, without any subscriptions. After publishing 5000 messages, I am getting a "[Maximum number of allowed reserved caches reached](https://github.com/eProsima/Fast-RTPS/blob/24825bb0de6cc5fdf16949a350c40570f2b00f26/src/cpp/rtps/history/CacheChangePool.cpp#L229)" warning from Fast RTPS, which leads to a [runtime error in `rmw_fastr

[2016-11-29 00:10] mikaelarguedas commented on #68
It seems that it's a limitation on the maximum size of the history cache in FastRTPS so it seems coherent that changing the history settings is the only thing that fixes it.
What would be the proper fix? changing the behavior of "keep all" to "keep 5000"? or monitor it and send a proper error when Fast-RTPS reaches it's history cache size limit ?

[2016-11-29 00:52] dhood commented on #68
from speaking to @wjwwood I understood that with the default QoS profile, the history cache limit shouldn't be being reached in the first place (for a queue size less than 5000)

@wjwwood is this accurate?
**Expected behaviour**:
1. Publishing without a subscription to the topic should store either nothing in the cache (in the case of "volatile" durability) or at most `queue_size` samples in the c

[2016-11-29 00:55] mikaelarguedas commented on #68
Interesting, thanks for the more detailed explanation

[2016-11-29 00:58] wjwwood commented on #68
I think what you've described is what I was talking about. The thing that is weird to me is that changing it to volatile doesn't eliminate the issue (among the other weird cases you pointed out, like changing to best effort).

[2016-11-29 01:36] dhood commented on #68
that's correct. I won't look into this any further for now, but I suppose the data is being added to the queue inappropriately when there are no subscriptions, and therefore it's then not being removed because it's not being ACK/NACKed.

This affects any users that want to use the default qos profile and leave publishers running without subscriptions (which is potentially a lot of use cases), so w

[2016-12-02 20:50] dhood commented on #68
I have been reading Connext and Opensplice documentation and think there are these changes to be made to our understanding of how the system should work:
a. the queue size does not apply in any way for "keep all" durability. [it is ignored.](https://community.rti.com/static/documentation/connext-dds/5.2.3/doc/manuals/connext_dds/html_files/RTI_ConnextDDS_CoreLibraries_UsersManual/Content/UsersManu

[2016-12-04 13:21] Theosakamg opened #70 "Limitation size of String in Service"
from last issue #60 with msg String limitation

_base on https://github.com/rosalfred/smarthome_media_msgs/tree/ros2_

make services for :
- **MediaGetItem** (array of MediaItem) https://github.com/rosalfred/smarthome_media_msgs/blob/ros2/srv/MediaGetItem.srv#L3
- **MediaGetItems** (only once MediaItem) https://github.com/rosalfred/smarthome_media_msgs/blob/ros2/srv/MediaGetItems.srv#L5

with Medi

[2016-12-04 13:34] Theosakamg commented on #70
code of service for test :
[code]

[2016-12-05 04:33] mikaelarguedas commented on #70
Bug confirmed on Fast-RTPS only, failing for strings longer than 256 characters regardless of the typesupport used (c or c++). As you pointed out it works fine when the long string is an array element.
Thanks for reporting it

[2016-12-05 06:24] dirk-thomas commented on #70
But [this test](https://github.com/ros2/system_tests/blob/b3969f43d2d9ee1931b48e170ca00b27146ccec2/test_communication/test/message_fixtures.hpp#L117) is currently passing. So I don't think it is a general problem of long strings.

[2016-12-05 07:15] mikaelarguedas commented on #70
Yes as reported in the issue, messages with a long `string` pass but a request/reply with a `string` field longer than 256 fails to be published. The tests added in https://github.com/ros2/system_tests/issues/179 fail for both `rclcpp` and `rclpy` so it must be a bug in the `rmw_implementation`.
I agree that it's not a problem of `string` themselves, especially because as mentioned by @Theosakamg

[2016-12-05 17:18] Theosakamg commented on #70
Just a precision, I detected that on my machine (x86_64) the message passed if lower than 409 characters (not 256).

[2016-12-06 17:46] Theosakamg commented on #70
@mikaelarguedas your branch fix_long_req_reply seem fixed pb ! :+1:

[2016-12-06 17:53] mikaelarguedas commented on #70
Awesome! I'm still working on it but this should be in master in the next few days

[2016-12-07 00:38] mikaelarguedas opened #72 "Magic_numbers in calculateMaxSerializedSize"
This is a follow-up of https://github.com/ros2/rmw_fastrtps/issues/36
There are still magic numbers ([101](https://github.com/ros2/rmw_fastrtps/blob/8623ccde0fbdeab8142ed4062978c977446327f0/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSupport_impl.hpp#L772), [257](https://github.com/ros2/rmw_fastrtps/blob/8623ccde0fbdeab8142ed4062978c977446327f0/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSuppo

[2016-12-07 20:23] Theosakamg commented on #70
Perfect !

[2016-12-07 20:23] #70 closed

[2016-12-08 22:51] dhood opened #76 "ignore_local_publications is not supported"
In `rmw_create_subscription`, the `ignore_local_publications` flag is [not currently used](https://github.com/ros2/rmw_fastrtps/blob/075bc487bee6c9a6fb6edf8f963177924040613c/rmw_fastrtps_cpp/src/functions.cpp#L1013) for `rmw_fastrtps_cpp` ([as is done in `rmw_connext_cpp`](https://github.com/ros2/rmw_connext/blob/58e724ba256263680f53df6ca338f412e0068fd1/rosidl_typesupport_connext_cpp/resource/msg_

[2016-12-08 23:04] dhood commented on #68
Update: I haven't been able to reproduce this [using the Fast RTPS "HelloWorld" publisher](https://github.com/eProsima/Fast-RTPS/compare/master...dhood:cache-full) so I think there is a subtle difference somewhere between how we configure the datawriter and how they do.

[2016-12-15 14:10] vilhjalmur89 opened #81 "Low bandwith when using FastRTPS"
I'm experiencing problems with most messages that are more than a few kilobytes per second when using FastRTPS.

For example, I just built Ros2 from source on Ubuntu 16.04 and tried running `showimage` in one terminal, and `cam2image` in another. I can see images from my webcam, but they are delayed and I get around 1 frame per second.

This also happens with downloaded binaries, but it works fine

[2016-12-16 00:26] wjwwood commented on #81
@vilhjalmur89 thanks for the report. We've tried debugging this a few times in the past and we're still iterating with the Fast-RTPS guys to get some default settings that work good in these cases. Can you post what settings (command line arguments) you're using for the `cam2image` and `showimage` programs? If you're not using any, can you do `-h` and try using the settings to lower the resolution

[2016-12-16 11:00] vilhjalmur89 commented on #81
@wjwwood I just ran the commands without any arguments, but by reducing the resolution to 160x90 and the frame rate to 10 FPS, I get a stable stream. That is about 400 KB/s (each image is around 40KB), and anything larger results in lagging.

I noticed that when lagging occurs, the publishing node also slows down. Are publishers not asynchronous by default? That seems to be the case with OpenSplic

[2016-12-19 23:24] rohbotics commented on #81
I am having a similar issue when trying to run the turtlebot follower demo.

The Astra node publishes VGA resolution floating point depth images at a reasonable rate (based on printfs at publish).

When I start the follower node, which subscribes to the depth images, both the astra node and the follower node slow down to a frame every 7 seconds. (Again timings based on printfs).

[2016-12-20 11:09] vilhjalmur89 commented on #81
I tried running `image_pipeline_all_in_one` from the beta-binary-release.

![image_pipeline_all_in_one](https://cloud.githubusercontent.com/assets/5200924/21348172/2d3c9ab4-c6ac-11e6-8bbf-9b93bef36c8f.png)

Now the images are passed as pointers between nodes within the same process, but I still get the same results.

[2016-12-20 16:06] dirk-thomas commented on #81
@vilhjalmur89 I had the same experience on Linux when trying `image_pipeline_all_in_one` with the beta 1.

[2016-12-21 09:49] richiprosima commented on #81
I've tested beta 1 `cam2img - showimage` and `image_pipeline_all_in_one`. I  used the source code, not binaries. I didn't appreciate any delay. Did anyone tested with source code? Should I test binaries?

The environment I used was:

- 2 computer, CPU Intel Core i3-3240
- 2 types of network cards: Realtek RTL8111/8168/8411 and Intel 82574L (`lspci` output)
- A logitech webcam

[2016-12-21 11:09] richiprosima commented on #81
Sorry, I've appreciated the delay increasing the resolution of the image. I will check this. Thanks

[2016-12-21 15:41] richiprosima commented on #81
The problem is caused by two facts:

- Subscribers are configured by default to receive using multicast and unicast. This is an excess of samples in network. I've changed this behavior in eProsima/Fast-RTPS@9d655e0b02affdc86218f8ccaabf206efc5f4c64. Now subscribers are configured by default to receive using unicast.

- `rmw_fastrtps_cpp` uses the default heartbeat period. It is five seconds and is

[2016-12-21 20:05] dirk-thomas commented on #81
I guess that these changes are the reason why so many new test failure across all platforms came up this morning: http://ci.ros2.org/job/ci_linux/2110/ http://ci.ros2.org/job/ci_osx/1628/ http://ci.ros2.org/job/ci_windows/2122/

[2016-12-22 14:04] richiprosima commented on #81
Sorry. I only checked our CI. I solved it and ran in your Linux environment. I hope these new changes solve your CI jobs.

Thanks @dirk-thomas

[2016-12-22 17:39] dirk-thomas commented on #81
I reran a few of the nightly jobs and they still fail many tests. I haven't looked further at them yet: http://ci.ros2.org/view/nightly/job/nightly_linux_debug/307/ http://ci.ros2.org/view/nightly/job/nightly_osx_debug/307/ http://ci.ros2.org/view/nightly/job/nightly_win_rel/284/

[2016-12-27 16:05] richiware commented on #81
Removing multicast by default, interoperability with RTI appears to be broken. I was checking and found  RTI is using the global user multicast locators that are sent by Fast RTPS participant, and not the locators sent by Fast RTPS reader.
I've updated  Fast RTPS master branch. Now Fast RTPS participant doesn't send default user multicast locators. Running ROS2 tests on my Linux system is working.

[2016-12-27 18:45] dirk-thomas commented on #81
Looks much better: http://ci.ros2.org/job/ci_linux/2132/ http://ci.ros2.org/job/ci_osx/1634/ http://ci.ros2.org/job/ci_windows/2137/ Thank you for the update.

I will merge ros2/ros2#300 then to use `master` again.

[2016-12-27 22:54] richiprosima commented on #81
Returning to the topic of this issue. Could someone check there are improvements using new changes in Fast RTPS and increasing heartbeat period in `rmw_fastrtps_cpp`? I expect you see improvements as I saw in my system.

[2016-12-28 00:01] dirk-thomas commented on #81
I just ran the two separate processes `cam2image` and `showimage` and the performance with FastRTPS is still pretty bad for me.

[2017-01-27 18:13] RameezI commented on #81
i have noticed that performance is highly dependent on the network, if I am connected to a LAN network its works much better.

Furthermore, if I am not connected to a network, demos do not start at all. I also tried  image_pipeline_all_in_one, same behavior.

[2017-02-01 08:19] JavierIH commented on #81
Hi @Rameezl, are you using the master last version of Fast RTPS? I'm looking for what could be producing this issue, could you provide more information about what settings are you using and if you have changed or not the heartbeat period as proposed by @richiprosima?

[2017-02-03 20:38] RameezI commented on #81
Hi @JavierIH I just pulled from master branch of Fast RTPS and applied settings proposed by @richiprosima.

I do not see the delay now and its much better, my settings:
cam2image -x 640 -y 480

Also, changing from my local network to WAN does not cause performance degradation anymore but the subscriber still stalls if the network is changed or disconnected in between.

The coupling with the networ

[2017-02-08 15:29] richiprosima commented on #68
Sorry for commenting so late. I didn't be aware of this issue. This issue should be resolved after eProsima/Fast-RTPS@75b24b45a197afaea8e759dabecc89daaca74a85. This commit fixes a bug related to your problem.

[2017-02-08 17:08] dirk-thomas commented on #68
@richiprosima The link to the referenced commit doesn't work. Can you comment with a link to the change.

[2017-02-09 14:23] richiprosima commented on #68
The commit was not introduced on master branch yet. Right now it is. Sorry

[2017-02-14 16:59] jespersmith opened #90 "FindFastRTPS.cmake uses the env var FASTRPCHOME instead of FASTRTPSHOME"
In FindFastRTPS.cmake:

if($ENV{FASTRPCHOME})
    set(FastRTPS_HOME $ENV{FASTRPCHOME})
endif()

This should of course be

if($ENV{FASTRTPSHOME})
    set(FastRTPS_HOME $ENV{FASTRTPSHOME})
endif()

[2017-02-14 17:01] dirk-thomas commented on #90
@jespersmith Can you please create a PR with the suggested patch.

@richiprosima Can you please comment on it since you wrote this originally.

[2017-02-14 17:03] jespersmith commented on #90
@dirk-thomas No. I'm using this file in another project, just pointing out the error in the documentation.

[2017-02-14 17:08] dirk-thomas commented on #90
@jespersmith You can edit the file through the GitHub web interface and it will automatically create a fork for you, add a commit with your change and create a pull request for it. We can then trigger a CI build for the PR to ensure it continues working (which I would expect).

[2017-02-14 17:11] jespersmith commented on #90
@dirk-thomas That's easy. See pull request #91

[2017-02-14 17:12] dirk-thomas commented on #90
@jespersmith Thank you!

[2017-02-22 00:24] clalancette commented on #81
I've been having similar problems using the cam2image and showimage test programs in ROS2 with Fast-RTPS.  In my case, I was using the default 320x240 resolution for cam2image, and the behavior I saw was to get a bunch of publications, then have a long delay (15-20 seconds), then get another bunch of publications, etc.

I uncommented the lines in rmw_fastrtps that set the heartbeat to 10ms as sugg

[2017-02-22 01:39] mikaelarguedas commented on #81
Indeed the value of the heartbeat period does influence a lot the performance according to the application. I'm not sure that changing the default to 10ms for any created topic is the way to go. While it would improve the performance of high throughput-high bandwidth applications, it will flood the network for any kind of large scale system (many nodes) with sporadic or low frequency communication

[2017-02-22 02:12] wjwwood commented on #81
It seems like Connext may have a different scheme for specifying the heartbeat (at least at a glance):

https://community.rti.com/content/forum-topic/piggyback-heartbeat-period

[2017-02-22 07:22] richiprosima commented on #81
As @wjwwood comments, Connext has two heartbeat mechanisms. Heartbeat period and heartbeat piggyback. The second one introduces an extra heartbeat depending on the batch of data sent. As much data is send, more heartbeats are included.
Piggyback is not implemented yet on Fast RTPS, but it is in our roadmap. Meanwhile the heartbeat period could be decreased.

[2017-02-28 20:48] dhood opened #92 "Enabling FastRTPS' ThroughputController"
This was originally discussed in https://github.com/ros2/rmw_fastrtps/issues/36
It can be enabled by un-commenting [these lines](https://github.com/ros2/rmw_fastrtps/blob/d353b3ce34849147b0bddcc184810b04cebfb736/rmw_fastrtps_cpp/src/functions.cpp#L812)

**Motivation:**
- Enhance performance for sending large messages with "best effort" reliability (otherwise all message fragments are sent at the s

[2017-02-28 23:31] dhood commented on #92
Thanks @mikaelarguedas for pointing out that implementing the throughput controller by un-commenting [these lines](https://github.com/ros2/rmw_fastrtps/blob/d353b3ce34849147b0bddcc184810b04cebfb736/rmw_fastrtps_cpp/src/functions.cpp#L812) will apply the same controller to all topics which will not be sufficient for cases where you need different controllers for different topics.

[2017-03-01 02:04] dhood opened #93 "Best effort + fragmentation + OS X = no images"
@richiprosima @JaimeMartin, we are trying to understand why particular conditions impact the reception of best effort data.

For high-bandwidth data, we have found a difference in performance on different operating systems. For example, with a **single publisher** publishing images (320x240 image x 1 byte/channel x 3 channels @ 30fps) and receiving them **on the same machine** with "best effort" r

[2017-03-02 22:28] richiprosima commented on #93
@dhood I was able to reproduce it in a VM. I will try to identify the problem. Thanks.

[2017-03-08 01:01] dhood opened #95 "Using non-default FastRTPS heartbeat period"
Spin-off thread from https://github.com/ros2/rmw_fastrtps/issues/81 to capture the discussion on using a FastRTPS heartbeat period other than the default, originally suggested in https://github.com/ros2/rmw_fastrtps/issues/36.

This can be configured by un-commenting [these lines](https://github.com/ros2/rmw_fastrtps/blob/d353b3ce34849147b0bddcc184810b04cebfb736/rmw_fastrtps_cpp/src/functions.cpp#

[2017-03-08 01:14] dhood commented on #95
My understanding is that even with small data, it could be up to 3s before a reliable subscriber requests re-sending of unreceived data. If someone can double check my understanding on this, then I think the motivation is, more broadly, to decrease the latency for reliable connections in the event that data has to be re-sent. This is relevant even for topics sending small amounts of data infrequen

[2017-03-28 11:19] firesurfer opened #96 "Segfault on raspberry pi"
Hi,
I created a test that transfers a rather big messsage (around 8Mb) via the Fast-RTPS middleware. The data is transferred between two raspberry pis running the latest version of ros2 (master branches) and also the master branch of Fast-RTPS. The network in between contains multiple switches that are configured to use rstp. When I disconnect a cable from a switch the stp tree is rebuilded by the

[2017-03-28 16:57] firesurfer commented on #96
See https://github.com/eProsima/Fast-RTPS/issues/84

[2017-04-03 21:17] sidd1 opened #98 "RTPS_WRITER error when publishing large amount of data"
Hi! I'm running into trouble when publishing large amounts of data. Without a subscriber, the node runs fine without any errors. But if I have a second node subscribing to this topic, I run into a bunch of errors on the publisher end. -

    [RTPS_WRITER Error] Problem adding DATA_FRAG submsg to the CDRMessage, buffer too small -> Function prepareDataFragSubM
    [RTPS_WRITER Error] A problem occu

[2017-04-03 23:07] wjwwood commented on #98
What version of ROS 2 are you using?

[2017-04-03 23:15] sidd1 commented on #98
I'm using the release-beta1 version (Cloned the repositories from `https://raw.githubusercontent.com/ros2/ros2/release-latest/ros2.repos`).

[2017-04-03 23:30] wjwwood commented on #98
Can you estimate the size of the message in bytes and/or tell us what the message type is?

Also, I know it might be difficult for you do this, but could you consider trying master? The repos file is at https://raw.githubusercontent.com/ros2/ros2/master/ros2.repos. It uses a newer version of Fast-RTPS which may have addressed some of these issues already. It would be nice to avoid digging into the

[2017-04-07 14:40] sidd1 commented on #98
Sorry for the delay. The initial bug I reported was caused on a VM I was running. Trying the same piece of code on a physical machine, I was unable to reproduce the error. I tried both versions of ros2 (the release-beta1, and the current version on master). They both worked fine.

Some more information, I'm sending a `Uint8MultiArray` of size 2073600. Using the default qos setting for the publishe

[2017-04-08 01:13] wjwwood commented on #98
Ok, we should still try to get a better error message if we can. But without a reproducible example of it failing that will be hard.

In that case, I'm going to close this as something like "cannot reproduce" and if anyone else runs into it they can comment here and I'll reopen this.

---

P.S. why are you send images as int arrays and not using the `sensor_msgs/Image` type?

[2017-04-08 01:13] #98 closed

[2017-04-09 20:33] srsidd commented on #98
Yes, I will experiment more with the vm to see if something comes up.
Yeah about that, I want to publish raw JPEG data as a string. But python is ros2 does not support non ascii strings, so I had to make it an int array.. I'm not sure if that works though..

[2017-04-10 23:09] wjwwood commented on #98
If you're sending binary data, you should definitely at least use `uint8[]` and you should not use a `string` type. We have a standard type for compressed images as well:

http://docs.ros.org/api/sensor_msgs/html/msg/CompressedImage.html

That link is for the ROS 1 message, but the same message exists in ROS 2.

[2017-04-11 16:02] firesurfer commented on #96
I haven't got any reaction form the FastRTPS vendors in the last 14 days. Just wanted to ask if this is normal?

[2017-04-11 16:09] dirk-thomas commented on #96
@richiprosima ping.

[2017-04-12 16:02] jespersmith commented on #95
Could a workaround for now be to provide env variables or configuration options so it can be set per-process?

[2017-04-12 16:07] JaimeMartin commented on #95
Hi guys,

We have mostly finished a new feature to setup the QoS parameters through an XML file in the app folder. That will solve this issue.

[2017-04-12 16:13] mikaelarguedas commented on #95
I also heard that eProsima (feel free to correct / complete this statement @JaimeMartin) will implement piggyback heartbeat soon. That would solve the problem of sending big amount of data without having to tweak heartbeat period manually on a per process / per topic basis.

[2017-04-12 16:30] JaimeMartin commented on #95
Also true. We are covering every angle of sending large data.

Regards,
Jaime Martin Losa
CEO eProsima - The middleware experts

Phone: + 34 607 91 37 45
Twitter: @JaimeMartinLosa
www.eProsima.com

2017-04-12 18:13 GMT+02:00 Mikael Arguedas <notifications@github.com>:

[2017-04-18 09:40] firesurfer commented on #96
@JaimeMartin
This example https://github.com/firesurfer/fastrtps_segfault_demo produces the segfault in an environment as described in the entry post.

[2017-04-21 06:20] richiprosima commented on #96
With ros2/ros2@0f0d0614f0a1313a7ac44f7d30651421453f7f9e ROS2 returned to follow Fast-RTPS master branch 8 days ago. I think your segmentation fault is related to eProsima/Fast-RTPS#78 which was fixed on eProsima/Fast-RTPS@ad59a6cf29e6f15a105193ea304cff645f0b9137. Can you test with lastest master branch of ROS2?

Thanks

[2017-05-09 00:25] wjwwood opened #107 "memory leak in topic_name of subscription and publisher (at least)"
See:

- `new` called here with no matching `delete`/`free()` that I can find:
  - https://github.com/ros2/rmw_fastrtps/blob/3a7538ae30aa6c883513f0392c024956093dc4ff/rmw_fastrtps_cpp/src/functions.cpp#L879
- `new` called here with no matching `delete`/`free()` that I can find:
  - https://github.com/ros2/rmw_fastrtps/blob/3a7538ae30aa6c883513f0392c024956093dc4ff/rmw_fastrtps_cpp/src/functions.cpp#L

[2017-05-18 16:59] #90 closed

[2017-05-23 13:47] firesurfer commented on #96
I just found some time to test this bug again on our testing setup. Couldn't reproduce it so far.

[2017-05-23 13:47] #96 closed

[2017-05-30 21:21] clalancette opened #112 "rmw_count_subscribers()/publishers() doesn't take rt topic prefix into account"
When trying to get an accurate count of publishers or subscribers to a topic by calling `node->count_publishers("topic_name")`, the underlying RMW implementation does not take the topic prefix name into account.  For instance, if you start publishing a topic called "map" in a node by calling:

[code]

And then you subscribe to the topic with:

[code]

And then you try to get a count of subscribers

[2017-06-01 22:38] allenh1 commented on #72
@mikaelarguedas This might also be something I could work on

[2017-06-02 20:36] dirk-thomas commented on #64
Can this be closed now?

[2017-06-02 21:04] wjwwood commented on #64
Yup, thanks.

[2017-06-02 21:04] #64 closed

[2017-06-05 18:58] dhood commented on #64
for future reference the relevant PR is https://github.com/ros2/rmw_fastrtps/pull/111

[2017-06-07 22:14] Karsten1987 commented on #112
@clalancette I believe this is fixed. Can you confirm that? So we could close this ticket.

[2017-06-08 13:03] clalancette commented on #112
Yes, this is fixed now and working as I expect.  I'll close this.  Thanks!

[2017-06-08 13:03] #112 closed

[2017-06-10 22:03] Alex031544 opened #118 "Aborted due to: Address already in use"
Hello,

we have an set up with 4 nodes slitted up on four separate computers. Until now we are using Opensplice as DDS-Interface. But with some more than two nodes the messages got transmitted in batches. So we decide to switch over to FastRTPS (because it is currently actively supported).

But at the beginning  the program aborted:
[code]
The programs run on multiple Raspberry Pi 2 with *Rasbian*

[2017-06-19 15:40] allenh1 commented on #107
@wjwwood I'll take care of this one.

[2017-06-19 15:42] allenh1 commented on #107
There's also another problem here, in that valgrind usually complains about a mismatched `free()` / `delete` / `delete[]` somewhere in this file (noticed this while working on the python leaking).

[2017-06-19 16:33] wjwwood commented on #107
There is almost certainly other issues in that file. It wasn't written by us originally, and so hasn't been subject to code review for much of its life. This is issue was about a very particular issue. I don't think you can use valgrind pass/fail as an indicator of whether or not this is fixed.

[2017-06-19 16:45] allenh1 commented on #107
I also see a lot of inconsistency wrt the use of `nullptr`.

[2017-06-19 16:49] mikaelarguedas commented on #107
Yes as @wjwwood mentioned this file has not been written by us, has a lot of inconsistency and issues and should be both audited and refactored. This is out of the scope of this particular issue as pointed out in the previous comment.

[2017-06-20 14:52] mikaelarguedas commented on #107
putting this back in ready with a more generic title to reflect the first comment:

[2017-06-20 14:54] mikaelarguedas opened #122 "audit rmw_fastrtps_cpp"
meta-ticket, follow-up of #107 :
includes
- [ ] audit calls to malloc and new and replace them if appropriate
- [ ] audit any function call that can throw and either catch them or replace them
- [ ] remove magic numbers: partially captured in  #72
- [ ] remove irrelevant todos
- [ ] fix cleanup on all failure scenarios: catprued in  #33
- [x] split functions.cpp in digestable files: done in #135
-

[2017-06-20 15:00] mikaelarguedas commented on #107
closed in favor of https://github.com/ros2/rmw_fastrtps/issues/122

[2017-06-20 15:00] #107 closed

[2017-06-23 19:32] dhood opened #125 "Best effort publisher stops sending to local subscribers when remotes connect"
**Issue:**

With the 1.5.0 fastrtps release the following issue has appeared:

1. best effort publisher talking to best effort subscriber(s) on the same machine.
1. best effort subscriber connects on the same domain ID but a remote machine.
1. best effort subscriber connected remotely receives message, but the local subscriber(s) does not.
1. when the remote subscriber is killed, the local subscri

[2017-06-23 19:50] dhood commented on #125
The practical impact of this on beta2 is that remote introspection of topics on the turtlebot (eg echo, or visualising with rviz via the bridge) causes nodes on the turtlebot to stop communicating (without the workaround)

[2017-06-23 19:56] clalancette commented on #125
@dhood Does this happen immediately for you, or is it a slow decline in performance?  With the cartographer demo (where I have almost everything best-effort, including the map topic), I don't see this.  I am able to run the dynamic_bridge remotely, and have it subscribe to topics, and keep up.  That being said, I've only ever tested it for up to 10 minutes at a time, so if it is something that hap

[2017-06-23 20:06] dhood commented on #125
it's instant. in the case of AMCL, it's the laser scan that stops being received whenever someone is introspecting from another machine (including @wjwwood's). the only reason I noticed it with amcl is because there's a timer that reports if laser messages aren't being received. with cartographer you might not notice that the scans stop being received. I imagine if you start the remote subscriber

[2017-06-23 20:09] clalancette commented on #125
Oh, I see.  That's an interesting problem, I don't think I've specifically looked at that.  The /map topic is published by cartographer itself, so wouldn't be subject to the problem, and I believe the /tf topic (the only other one that I send off-robot) is reliable, so also doesn't see this.  So that explains why I don't see the problem.

[2017-06-23 20:16] dhood commented on #125
I would expect you to see the equivalent thing with cartographer when subscribing to one of the other topics being adverstised with best_effort, e.g. [currently point cloud or map](https://github.com/ros2/cartographer_ros/blob/6cd3bffc51d924e97e5f08bf7500e33a5e7bc26f/cartographer_ros/cartographer_ros/node.cc#L133). rviz might be using service calls instead of topic subscriptions for the submaps

[2017-06-27 19:36] fmrico opened #127 "Bad rmw_count_subscribers value"
I am using the master branch with Fast-RTPS.

I've been testing the ros1_bridge with one ros1 talker and two ros2 listener.

![pre_run](https://user-images.githubusercontent.com/3810011/27606297-053f466a-5b80-11e7-9da6-eeac8ad45ac4.png)

When running, I checked on introspection that it only showed that there was 1 subscriber in /chatter, instead of the two that were active.

![run](https://user-im

[2017-06-27 22:23] allenh1 commented on #127
Thanks for the report! After playing around with this on my machine, I was not able to reproduce this exact behavior, but I did find something a little off:

[code]

(there were many "passing message from ROS 1 to ROS 2"'s that I removed to clean up the output).

But, if I simply reran the dynamic_bridge, everything was fine. I was even able to have a ros1 cpp listener on my laptop, two ros 2 cpp

[2017-06-27 22:53] allenh1 commented on #127
Ok, I can now confirm that this both affects fastRTPS and connext.

[2017-06-27 23:02] allenh1 commented on #127
@fmrico How recent is your master?

[2017-06-28 05:53] fmrico commented on #127
@allenh1 My master was updated yerterday. I have updated right now and same behavior. When you are running two ROS2 listeners, how many ROS2 subs are showed in the ros1_bridge introspection messages? I am still seeing

`ROS 2: /chatter (std_msgs/String) [0 pubs, 1 subs]`

I think that I should see `2 subs`.

I also experienced the error you comment on getifaddr() ros2/ros1_bridge#78. In fact, ther

[2017-06-28 12:42] dirk-thomas commented on #127
Can you please retry with the latest master with #79 being merged. Or was that spray the state you used when you mentioned:

[2017-06-28 13:21] fmrico commented on #127
@dirk-thomas After applying your commit cf5108e in dynamic_bridge.cpp the problem ros2/ros1_bridge#78 and ros2/ros1_bridge#79 seems to be **fixed** (I waited until msg number ~5000 running two ROS2 listeners) both in Fast-RTPS and RTI Connext.

Fast-RTPS keeps failing counting subscribers...

[2017-06-28 18:04] allenh1 commented on #127
@fmrico I think that the issue there has to do with the fact that the subscribers have the same name -- we consider such a case to be undefined behavior. In the future, we might consider this case, but, as of yet, we have no plans to do so.

You can check out the design doc [here](http://design.ros2.org/articles/changes.html).

[2017-06-28 18:08] dirk-thomas commented on #127
The `ros1_bridge` doesn't consider node names at all (only for preventing to loop messages between publishers and subscribers the bridge created itself). Therefore the node names on the ROS 1 and ROS 2 side can't be the reason.

[2017-06-28 18:49] allenh1 commented on #127
@fmrico I'm able to reproduce that behavior now. I have two C++ subscribers and a Python subscriber, yet the messages show only one subscriber. I'm looking into this right now.

[2017-06-28 19:04] allenh1 commented on #127
The bridge pulls the subscriber value from rclcpp, which calls the `count_publishers` and `count_subscribers` functions from `node_graph.cpp`, which calls `rmw_count_publishers`. I'm going to see if the counts are incorrect for connext as well.

[2017-06-28 19:05] allenh1 commented on #127
Ok, cool.

[code]

this appears to only affect fastRTPS. I'll try and find a fix for it.

[2017-06-28 19:53] allenh1 commented on #127
8d10e43 fixed the count up, now I just need to fix the count down.

[2017-06-28 22:11] dhood commented on #125
Addressed upstream

[2017-06-28 22:11] #125 closed

[2017-06-28 23:04] dirk-thomas commented on #127
This should be fixed by #129.

[2017-06-28 23:04] #127 closed

[2017-06-29 00:05] allenh1 commented on #118
So I encountered this the other day, and my solution was to source the ros1 ws, remove the currently built ros1_bridge, then rebuild it. After that it just kinda worked. Would be nice if you could give that a go, just to confirm it wasn't some fluke on my end.

[2017-07-03 12:48] Karsten1987 opened #131 "refactor functions.cpp"
This is a top level issue for the refactoring task. The idea is to refactor the `_functions.cpp` into multiple files, making the package easier to maintain.

[2017-07-03 15:37] dirk-thomas commented on #131
Please hold off to start any work on this until we can sync and ensure that only one person touches the repo during that refactoring.

[2017-07-04 13:30] Karsten1987 commented on #131
yes agreed. I'll plan on getting rmw_fastrtps_cpp as well as rmw_connext_cpp refactored within one week. What is the best way to sync on this one?

[2017-07-07 17:13] dirk-thomas commented on #131
We talked about this briefly in yesterdays meeting. Nobody else will touch the two repos `rmw_connext` and `rmw_fastrtps` for the time being. So you have exclusive access and can refactor both in a similar way as `rmw_opensplice_cpp`. Please make sure to structure the patch like this:

* First commit copying the `functions.cpp` to different file names (`.cpp` as well as `.h` / `.hpp`) without any

[2017-07-14 17:48] allenh1 commented on #118
Can you confirm if you've been able to reproduce this behavior?

[2017-07-14 21:31] dirk-thomas commented on #68
@dhood Can this be closed?

[2017-07-14 21:32] dirk-thomas commented on #95
@dhood Can this be closed?

[2017-07-14 21:33] dirk-thomas commented on #131
Addressed by #135.

[2017-07-14 21:33] #131 closed

[2017-07-14 21:36] mikaelarguedas commented on #95
I think that the question of exposing the heartbeat period through QoS settings in ROS is still unanswered at the moment. This could be closed in favor of a global thread about "exposing DDS symbols through the interface" v.s. "What additional QoS settings we want to expose through the ROS interface"

[2017-07-14 22:56] dhood commented on #68
fixed thanks!

[2017-07-14 22:56] #68 closed

[2017-07-19 18:23] mikaelarguedas commented on #122
refactor performed, audit not done yet

[2017-07-19 18:41] allenh1 commented on #118
From [this](https://discourse.ros.org/t/ros2-beta2-on-mac-crashes-with-address-already-in-use/2234/3) post on discourse, it looks like we can close this. Can you confirm this is fixed?

[2017-07-20 11:07] Alex031544 commented on #118
I will look for it soon!

[2017-07-28 14:16] firesurfer opened #137 "Sending string results into eprosima::fastcdr::exception::NotEnoughMemoryException"
When sending this string:
"No environment file found at /etc/systemd/system/iboss_environment, creating own
QIODevice::write (QFile, "/etc/systemd/system/iboss_environment"): device not open"

I run at the recieving node into this exeception:
[code]

This doesnt happen if I use the ros2 tool:
[code]

After further research I found that using `rmw_qos_profile_sensor_data` was the cause of this trou

[2017-08-02 18:27] mikaelarguedas commented on #137
Thanks @firesurfer for reporting this. Can you provide a [small reproducible example](http://sscce.org/) for this?

[2017-08-03 14:44] firesurfer commented on #137
Seems like a recent update of fast-rtps or of ros2 fixed this bug. Closing it!

[2017-08-03 14:44] #137 closed

[2017-08-04 03:02] mikaelarguedas commented on #95
closing this in favor of https://github.com/ros2/rmw/issues/115

[2017-08-04 03:02] #95 closed

[2017-08-04 03:03] mikaelarguedas commented on #92
@dhood do you think that this can be closed in favor of https://github.com/ros2/rmw/issues/115 ?

[2017-08-04 03:04] mikaelarguedas commented on #93
@dhood & @richiprosima any update on this ?

[2017-08-04 03:06] mikaelarguedas commented on #81
@vilhjalmur89 Is this still a problem ? Fast-RTPS now provides a piggyback heartbeat and I cannot reproduce this issue as of beta2

[2017-08-04 07:49] richiprosima commented on #93
I've tested again in my VM with last version of Fast RTPS and it has good performance. Maybe @dhood may check it too.

[2017-08-04 15:18] mikaelarguedas commented on #93
Thanks @richiprosima for the prompt response!
I'll leave it to @dhood to test and comment or close this issue accordingly

[2017-08-04 15:19] mikaelarguedas commented on #72
@allenh1 Is this one still on your radar ?

[2017-08-04 15:52] allenh1 commented on #72
Yep -- I was waiting on the refactor to finish, but looks like I can go after it now.

[2017-08-04 20:56] dhood commented on #93
yep looks fixed thanks!

[2017-08-04 20:56] #93 closed

[2017-08-07 20:43] firesurfer opened #139 "Update time for get_node_names can be very low"
See the discussion on discourse: https://discourse.ros.org/t/update-time-for-get-node-names/2333

The update time of the `get_node_names` function is very low in case a node was shutdown (Around 5 minutes). In case a node was started the update is almost immediately.

@Karsten1987
@richiprosima

I can't provide the real code where we found this behavior but I will provide a simple example as soon

[2017-08-18 19:05] dhood opened #144 "onNewCacheChangeAdded can be called after node shuts down"
Summary: we have "guard condition handle not from this implementation" errors in tests sometimes. it seems to me that the `rmw_fastrtps_cpp` code is doing the right thing, but it's a race condition in fastrtps. I opened https://github.com/eProsima/Fast-RTPS/pull/134 with a fix that works for me locally, this ticket is for local tracking.

A crash that can occur when [the onNewCacheChageAdded of th

[2017-08-23 17:53] mikaelarguedas commented on #144
fixed in https://github.com/eProsima/Fast-RTPS/pull/134

[2017-08-23 17:53] #144 closed

[2017-08-24 21:00] dirk-thomas opened #149 "exported libraries should not expose imported targets of FastRTPS / FastCDR"
See #148 for the current workaround to make this package usable by downstream packages.

[2017-08-25 18:54] deng02 opened #150 "Allow configuration of the severity level for eProsima logging"
Feature Request

Currently the eProsima logging level is hardcoded to ERROR:
https://github.com/ros2/rmw_fastrtps/blob/master/rmw_fastrtps_cpp/src/rmw_node.cpp#L66

For troubleshooting, it would be useful to be able to change the severity level of the eProsima to INFO or DEBUG, either independently of ROS2 or in conjunction with.

[2017-08-25 19:30] dirk-thomas commented on #150
I think the best path forward is to implement a custom `LogConsumer` for FastRTPS which uses the ROS logging API provided by `rcutils`. Currently `rcutils` doesn't offer name-specific severity levels but that feature is planned to be added in the future.

If you would like to see this feature rather earlier than later we would appreciate a PR for it.

[2017-09-01 22:01] mikaelarguedas commented on #72
There is now only [one magic number left](https://github.com/ros2/rmw_fastrtps/blob/79d8dc4ed25306ce44d97fede4d8fa0f474f7a34/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSupport_impl.hpp#L427).

@richiprosima I see there is a [todo in your name](https://github.com/ros2/rmw_fastrtps/blob/79d8dc4ed25306ce44d97fede4d8fa0f474f7a34/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSupport_impl.hpp#L443) t

[2017-09-04 10:19] richiprosima commented on #72
That value is inherited from when there was only preallocated memory policy in FastRTPS, and dynamic types had to have a maximum length. For sequences/arrays the maximum length was 100. Now ROS2 uses preallocated_with_realloc memory policy and maximum lengths are not needed.

[2017-09-04 15:20] dirk-thomas commented on #72
@richiprosima can you please propose a patch how to get rid of this variable. It isn't clear to us how to remove it cleanly.

[2017-09-06 13:56] allenh1 commented on #118
@Alex031544 ping

[2017-09-06 18:10] Alex031544 commented on #118
Currently I prepare a setup of virtual machines to investigate this issue.

[2017-09-07 14:11] richiware commented on #72
I'm working on it

[2017-09-11 06:26] richiware commented on #72
PR #152 removes those magic numbers.

[2017-09-14 23:55] mikaelarguedas commented on #72
All magic numbers have now been removed :tada: closing

[2017-09-14 23:55] #72 closed

[2017-09-15 18:27] dhood commented on #139
@firesurfer we have changed the way that sigints are handled by `ros2 run` in https://github.com/ros2/ros2cli/pull/50 so that nodes are able to shutdown cleaner. Are you able to update to beta3/master and let us know if you still see this issue in your context?

[2017-09-17 19:32] Alex031544 commented on #118
Hi,
currently I don't get this issue reproduced. Maybe this is due to the newer version.
I got the connection running between three virtual machines. Can you tell me how to measure the traffic with wireshark? I only get visible acknowledges and heartbeats... but not the single packages.

[2017-09-19 20:35] allenh1 commented on #118
Great! As such, I'm going to close this. Feel free to reopen if you encounter the problem again.

I have no idea how to do that. Maybe someone else on the @ros2/team can answer?

[2017-09-19 20:35] #118 closed

[2017-09-19 21:14] mikaelarguedas commented on #118
Feel free to comment here and we will reopen

Metadata packets are sent on all interfaces while the data is sent only on the selected one (e.g. if I run nodes on a single machine data will go on the loopback interface while metadata will also go on my wired/wifi interface). Haven't tried monitor traffic between VMs though, maybe listening to the interface doing the bridge between VMs will allow yo

[2017-10-04 18:52] dirk-thomas commented on #81
Closing this for now due to no response. Please feel free to comment on the closed ticket and it can be reopened if necessary.

[2017-10-04 18:52] #81 closed

[2017-10-16 14:17] firesurfer commented on #139
Yes we still see this issue. Is it necessary to run nodes via `ros2 run` in order for a proper shutdown?

[2017-10-16 14:29] firesurfer opened #157 "Messages are dropped when using FastRTPS on raspberry pi 3"
We noticed that FastRTPS seems to drop messages when used on a raspberry pi with an x86 computer as sender but also with another raspberry pi as sender.

The used message:
msgs/StorageData

[code]

The used commands for sending and recieving:
`ros2 topic echo /storage_data_topic`
`ros2 topic pub /storage_data_topic msgs/StorageData '{"uuid": "test", "sendernode": "mynode", "data": [1,2,3,4,5,6,7,8

[2017-10-18 18:41] mikaelarguedas commented on #157
@firesurfer Can you confirm that this problem happens only if the RaspberryPi is involved and not between x86 machines (same network configuration).

@richiware Did you ever encounter similar problems when testing on RaspberryPi ?

[2017-10-18 19:04] firesurfer commented on #157
@mikaelarguedas I can confirm that this doesn't happen on x86 if both sender and reciever are running on the same machine. In case of two x86 machines I will do another test on friday.

[2017-10-19 00:06] jwang11 opened #159 "Weird cmake dependencies on rosidl_typesupport_introspection_c, rosidl_typesupport_introspection_cpp"
In rmw_fastrtps_cpp/CMakeLists.txt, I see some weird dependencies as below. I don't see the reason that rmw implementation depend on rosidl_xxx packages. if or not I misunderstand sth?
ament_target_dependencies(rmw_fastrtps_cpp
  "rcutils"
  "rosidl_typesupport_introspection_c"
  "rosidl_typesupport_introspection_cpp"
  "rmw"
  "rosidl_generator_c"
  "rosidl_generator_cpp")

[2017-10-19 00:54] dhood commented on #159
ROSIDL is the message format of ROS messages, and the rosidl_* packages contain common code for working with those messages that is also used by other rmw implementations. For example the typesupport_introspection packages are also used by `rmw_connext_dynamic_cpp` as it's another rmw implementation that supports runtime interpretation of ROS msgs via "introspection" using msg metadata, as opposed

[2017-10-19 01:31] jwang11 commented on #159
Thank you for explanation. I basically understand what rosidl_XXX do, however, rmw_fastrpts not use .msg or .svr, thus no need to generate c/cpp code for them.  I tried to drop those rosidl_xxx, there is no compile issue.

[2017-10-19 01:54] dhood commented on #159
Things from `rosidl_generator_c` are used during serialisation/deserialisation: https://github.com/ros2/rmw_fastrtps/blob/a6ac02905c55118fb1da636f85c8197dde8ef58e/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSupport.hpp#L85
so if you got it to build you maybe weren't using a clean, isolated workspace.

For rosidl_generator_cpp I'm not sure where the dependency comes from, it might be safe to remo

[2017-10-19 04:19] jwang11 commented on #159
I searched the code, rosidl_generator_cpp did not used, however rosidl_typesupport_introspection_cpp was widely used. Is it the normal case?

[2017-10-19 14:45] richiware commented on #157
I will prepare a raspberry pi 3 environment and test it.

[2017-10-20 01:57] dhood commented on #159
It depends. rmw_fastrtps_cpp needs to know about the c data type that's being used for strings (what I linked to before) which is why it depends on rosidl_generator_c. For c++, it doesn't need to depend on rosidl_generator_cpp to get any info about the string data type because it's just an std::string (if it were a custom type then it would).

as far as I know there isn't any reason for the rosidl

[2017-10-20 10:28] richiware commented on #157
I was testing with two scenarios:
* Raspberry Pi 3 echoing /storage_data_topic and x86 publishing  /storage_data_topic
* Raspberry Pi 3 echoing /storage_data_topic and Raspberry Pi 3 publishing  /storage_data_topic
I'm using current master branches of ROS2 repositories.

In both cases the subscriber starts to print data after a delay of 4 seconds. Then it receives data without any problem. I was i

[2017-10-20 12:07] firesurfer commented on #157
On x86 on our network setup it takes one message until the first message is recieved. It depends if the message data has been changed or not. In case the message data has been changed like additionally setting a field that hasn't been set before there is a delay of one message. In case the data hasn't been changed or a field that already had data is changed there is in most cases no delay.

[2017-10-20 17:45] dirk-thomas commented on #139
No, `ros2 run` is just a different way to invoke the executable.

I will mark this with "more-information-needed" until there is a simple example to reproduce the problem.

[2017-10-20 18:52] mikaelarguedas commented on #159
Quick follow up on this. The reason it succeeds to build when removing rosidl_generator_c is because its headers are exported by [rosidl_typesupport_introspection_c](https://github.com/ros2/rosidl/blob/52830d1e45ad3f3cb470dfd3fd093735a205ead1/rosidl_typesupport_introspection_c/CMakeLists.txt#L18).
Though the dependency on rosidl_generator_c should be kept because we use it's headers and symbols di

[2017-10-20 18:56] jwang11 commented on #159
That is fair. thanks

[2017-10-20 19:03] #159 closed

[2017-10-27 13:18] deng02 opened #166 "rmw_count_publisher|subscriber - excessive string allocation"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - source
- Version or commit hash:
  - HEAD
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
You can reproduce this in multiple ways but the easiest is to create a large number of ROS2 publishers and subscribers and run the dynamic bridge, which

[2017-10-27 16:03] dirk-thomas commented on #166
Addressed by #167.

@deng02 If you use "Fixes #166" in the description of the pull request it will automatically close the referenced issue when the PR is being merged.

[2017-10-27 16:03] #166 closed

[2017-10-27 20:13] deng02 commented on #166
@dirk-thomas I'll definitely do that next time!  Thanks for the review/merge.

[2017-12-04 13:25] christianrauch opened #176 "Node creation stalls when using asio library within node"
## Bug report

When using `asio` as part of a driver (e.g. serial driver) within a node, the construction of `rclcpp::Node` blocks when using the FastRTPS rmw implementation.

**Required Info:**

- Operating System: Ubuntu 16.04
- Installation type: binary
- Version or commit hash: beta3
- DDS implementation: rmw_fastrtps
- Client library (if applicable): rclcpp

#### Steps to reproduce issue

- d

[2017-12-04 23:13] christianrauch commented on #176
Using `asio` from [`asio-1-10-branch`](https://github.com/chriskohlhoff/asio/tree/asio-1-10-branch) (commit hash e271963a10f95ab7ade90ee1b8374f4862f20d8b) solves this problem.

Since it is unlikely that a fixed asio version will be released into the current and upcoming Ubuntu LTS, is there a chance that asio (with the bugfix in https://github.com/chriskohlhoff/asio/issues/180#issuecomment-3192075

[2017-12-04 23:21] mikaelarguedas commented on #176
It looks like this fix is already in the version of asio used by eProsima to compile Fast-RTPS (https://github.com/michalsrb/android-ifaddrs/tree/7b1ce82817226e481d3cda0a5d06b66ebcc211f8).

@ros2/team should we consider building asio provided by eProsima rather than using the system one ?

[2017-12-04 23:31] dirk-thomas commented on #176
I would say we can consider that but I would delay that decision / work until after the release.

[2017-12-06 22:57] tfoote opened #179 "rmw_fastrtps does not detect the version correctly when checking RMW_IMPLEMENTATION on Windows"
Testing https://github.com/ros2/ros2/wiki/Working-with-multiple-RMW-implementations#ros-2-ardent-and-later

Against the binary build on windows: http://ci.ros2.org/view/packaging/job/packaging_windows/825/

It fails to error correctly when evaluating an invalid RMW_IMPLEMENTATION however the opensplice build works as expected.

[code]

Fuller console outputs  https://gist.github.com/tfoote/1533d84

[2017-12-06 23:15] dirk-thomas commented on #179
I tried the multi-rmw fat archive on Linux (from [packaging_linux#898](http://ci.ros2.org/view/packaging/job/packaging_linux/898/)) and it works correctly for switching between FastRTPS and OpenSplice.

[2017-12-06 23:25] dirk-thomas commented on #179
In the single-rmw case the API will return the identifier of the rmw implementation chosen at compile/link time. So the answer will be something like:

In the multi-rmw case the API will use the hint from the env var to load the desired rmw impl. and will fail do to so and answer something like:

So I think you are comparing two different things here.

[2017-12-07 21:53] tfoote commented on #179
Resolved in: https://github.com/ros2/rcl/pull/201

[2017-12-07 21:53] #179 closed

[2017-12-18 22:31] christianrauch commented on #176
If `Fast-RTPS` is built with `-DTHIRDPARTY=ON`, it will use the pinned asio version (https://github.com/chriskohlhoff/asio/tree/230c0d2ae035c5ce1292233fcab03cea0d341264, @mikaelarguedas I think that is what you meant). Still, all other packages will use the system's asio version which makes them incompatible. If `Fast-RTPS` has to be built with a non-system asio version, that version must be avail

[2017-12-18 22:41] mikaelarguedas commented on #176
Yeah, what I meant is that we do provide a way to get tinyxml2 (another Fast-RTPS dependency) in the entire workspace via a [vendor package](https://github.com/ros2/tinyxml2_vendor/). Doing the same for asio would allow us to download and build it *only if* the version found on the system is older than the one we need. If the system version is recent enough we use the system one.

It'll be worth c

[2017-12-18 23:37] racko opened #181 "Non-ascii character in package.xml"
The "offending" character is actually in the maintainer's name, so I'm not sure how to deal with this:

https://github.com/ros2/rmw_fastrtps/blob/640d7de7e2af1a4281ba910d0ed6702e337ed48c/rmw_fastrtps_cpp/package.xml#L7

[code]

[2017-12-18 23:39] mikaelarguedas commented on #181
Did you try setting your locale to UTF-8 ?

(Snippet copied from https://github.com/ros2/ros2/wiki/Linux-Development-Setup):
[code]

[2017-12-18 23:42] racko commented on #181
aaaah! I'm currently setting up an Arch Linux docker container to be able to reproducibly build a ros2 package. I forgot to follow this step of the guide. And I was wondering why that error didn't occur when I built it on my machine ... thx!

[2017-12-18 23:42] #181 closed

[2017-12-18 23:48] mikaelarguedas commented on #181
Something I faced in the past that may save you a headache:
Since last year most base images don't ship with `locales` so you'll have to install the package in your Dockerfile.
You'll also need to set up the locale in your Dockerfile as changing it within a container has no effect.
See our [CI dockerfile](https://github.com/ros2/ci/blob/35b86c8492ea5e80c0653bedfa403d3ab4717acc/linux_docker_resourc

[2017-12-19 06:52] dirk-thomas commented on #176
Independent on what we choose to do for ROS 2 it would be important to make sure that a fix is being released into the `asio` Ubuntu package. So that at some point in the future we can use upstream.

[2017-12-19 11:04] mikaelarguedas commented on #176
:+1:

Looks like upstream didn't tag a release since this fix was merged. So we'll need to request a new release and then make sure that the last version gets packaged in Debian (Ubuntu will follow at that point)

[2018-01-02 12:04] sagniknitr opened #184 "rmw_fastrtps CustomParticipantInfo structure defination."
`typedef struct CustomParticipantInfo`
`{`
`eprosima::fastrtps::Participant * participant;`
`ReaderInfo * secondarySubListener;`
`WriterInfo * secondaryPubListener;`
`rmw_guard_condition_t * graph_guard_condition;`
`} CustomParticipantInfo;`

What is the purpose of the secondarySubListener in the above strucutre, which is implemented in custom_participant_info.hpp ?

[2018-01-02 23:05] dhood commented on #184
Each node has `secondarySubListener` and `secondaryPubListener` to get information about subscribers and publishers in the ROS graph (respectively). These get attached to the node [when it's created](https://github.com/ros2/rmw_fastrtps/blob/97a099836235f9b56bea16c5d1784e103ffdf777/rmw_fastrtps_cpp/src/rmw_node.cpp#L140) and process graph events in the background. The information can be queried by

[2018-01-03 04:28] sagniknitr commented on #184
Thanks for the clarification.Do they also use the DDS for sending/receiving query information to/from other nodes ?

[2018-01-03 04:29] sagniknitr commented on #184
@dhood Thanks for the clarification.Do they also use the DDS for sending/receiving query information to/from other nodes ?

[2018-01-08 07:00] dhood commented on #184
The `rmw` abstraction layer itself is not specifically tied to DDS, but in the specific case of the rmw_fastrtps implementation of the rmw layer, this discovery information is exchanged using DDS/RTPS, yes.

[2018-01-10 16:14] abilbaotm commented on #157
Hi.
We are having the similar issues with a ROS2 network where the nodes after some time stop working. We realise that some of the RTPS messages are encapsulated inside an ICMP message (with a `Destination unreachable (Port unreachable)` error) as commented here https://github.com/ros2/rmw_fastrtps/issues/157#issue-265790753.
INFO_DST, INFO_TS and DATA:
![captura de pantalla de 2018-01-10 16-46-11

[2018-01-17 13:26] #184 closed

[2018-01-22 16:50] firesurfer commented on #157
@richiprosima Any news on this ? This issue practically renders our raspberry pi mesh network unusable with ROS2.

[2018-01-23 14:48] richiware commented on #157
I'm updating my raspberry ros2 environment and will try again to reproduce the issue.

[2018-01-29 13:59] richiware commented on #157
Sorry for the delay. I was travelling. I achieved to prepare a raspberry environment. It is simple: two raspberry pi communicating through a switch using ethernet. Raspberry were communicating between them from 6 hours without problems.

![captura de pantalla de 2018-01-29 14-48-05](https://user-images.githubusercontent.com/6360749/35513692-2b896b60-0504-11e8-9644-90018a950c77.png)

@abilbaotm  Wh

[2018-01-29 14:51] abilbaotm commented on #157
Hi.
Our setup is the next one.
- Each machine in the network have a node and multiple publishers.
- The value of the messages changes each time is published.
- We are using Ethernet.
- The output of `ifconfig -a` is the next one:
[code]
At what rate are you publishing? I think that the issue is when data is published too fast. Like more than `50-100 MHz`.

Thanks @richiware for your time!

[2018-02-02 09:43] firesurfer commented on #157
Hi,
we noticed this issue when starting to publish. It takes around 4 publishing turns until a message is recieved. Afterwards all messages are recieved. If you cancel the publishing node, wait like 10-20 seconds and then start again the delays is there again. If you cancel the publishing node and restart it immediatly there is no delay.

When using wireshark we also get a lot of `ICMP - Destinati

[2018-02-05 13:31] firesurfer commented on #157
Hi the problem with ros2 echo / pub was that apparently you have to wait long enough for echo to be setup properly. During my testing last friday it seems that I waited just a bit longer sometimes.

Nevertheless I could track down the ICMP - Destination unreachable error. But I'll open another issue tracker for that.

I think that the question why there is such a long delay at startup is still val

[2018-02-05 13:57] firesurfer opened #188 "ICMP - Destination unreachable ( Port unreachable)"
Hi as mentioned in #157 I could track down the reason for the ICMP - Destatination unreachable message one can obtain using wireshark.

How to reproduce:

1. Start the example publisher on the first computer
2. Start the example listener on the second computer (they should transmit messages between each other)
3. Start wireshark
3.1 you should now see RTPS data and Heartbeats
4. Kill  the listener

[2018-02-08 19:10] mikaelarguedas commented on #188
Hi @firesurfer,

This looks more like a protocol behavior than a ros2 specific behavior to me. My understanding of the DDS spec is that if a participant is killed without being given a change to notify the others that it's going down, the other ones will assume it'll eventually get back "in range" in a given (configurable) amount of time before considering it dead (at which point it will stop send

[2018-02-09 09:19] firesurfer commented on #188
Hi @mikaelarguedas

I actually expect this behaviour from the protocol but there are tree things:

1. What amount of time is configured in ROS2 (fast rtps) and how could I change it
2. This behaviour also exists if the application is terminated via SIGTERM and not SIGINT (this is what systemd does by default)
3. On all of our debian configurations the nodes (that run fine on ubuntu) seam to exit l

[2018-02-28 10:50] sagniknitr commented on #176
This issue seems to be fixed with the current ardent release.The serial_driver_node is showing the expected behaviour as mentioned in the Bug Report by @christianrauch

[2018-02-28 18:30] dirk-thomas commented on #176
Since it neither see a new release upstream nor an updated package in Ubuntu I am not sure how it got fixed. @christianrauch Can you confirm that the problem has been resolved?

[2018-02-28 19:43] christianrauch commented on #176
@sagniknitr Under which conditions did you build the example? I still have the mentioned issue (node stalls after `creating node...`). I am using Ubuntu 16.04 with libasio-dev version 1.10.6 and fastrtps 1.5.0 (i.e. ros2 ardent).

For comparison can you try to run the compiled version [serial_dummy_install.tar.gz](https://github.com/ros2/rmw_fastrtps/files/1768563/serial_dummy_install.tar.gz)? It

[2018-03-08 18:22] sloretz commented on #92
I removed `more-information-needed` because it seemed to be added in reference to ros2/rmw#115 which itself was closed in favor of more specific tickets, so this ticket shouldn't be closed in favor of that one.

It seems like the milestone for this could be untargeted - it is desirable but no one appears to be advocating for it to be resolve anytime soon.

[2018-03-08 18:47] sloretz commented on #176
Looks like the fix is in [asio 1.10.9](https://github.com/chriskohlhoff/asio/tree/669e6b8b9de1309927b29d8b6be3630cc69c07ac/asio), but [bionic still has 1.10.8](https://launchpad.net/ubuntu/+source/asio/1:1.10.8-1).

[2018-03-08 18:54] dirk-thomas commented on #92
I changed the milestone to `Bouncy` since I think it is crucial to fix the performance problem we are facing in e.g. the image demos with FastRTPS in the past releases.

[2018-03-17 14:55] jespersmith opened #191 "ROS2 subscriber crashes with NotEnoughMemoryException with empty effort array in JointState messages"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04 64 bit
- Installation type:
  - Binary debian packages from deb http://repo.ros2.org/ubuntu/main xenial main
- Version or commit hash:
  - deb http://repo.ros2.org/ubuntu/main xenial main
- DDS implementation:
  - Fast RTPS
- Client library (if applicable):
  - rclpy with command line

#### Steps to reproduce issue

[code]

##

[2018-03-19 09:56] richiware commented on #191
I was able to reproduce the crash. I've updated Fast-CDR to solve this issue. It was a problem with alignment and zero length arrays at the end of the buffer. Commit eProsima/Fast-CDR@581bc96 contains the solution.

[2018-03-19 10:25] #191 closed

[2018-04-01 17:15] firesurfer opened #193 "After update of ros2 workspace -> introduces build error - UnicodeDecodeError"
After updating the ros2 workspace (I'm going with the master branches) the rmw_fastrtps_cpp package fails to build with the error:

  File "/usr/lib/python3.6/encodings/ascii.py", line 26, in decode
    return codecs.ascii_decode(input, self.errors)[0]
UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 409: ordinal not in range(128)

Operatingsystem: Debian testing
Compiler: clan

[2018-04-01 19:06] dirk-thomas commented on #193
Please check your locale and ensure that it is set to utf-8.

[2018-04-01 19:31] firesurfer commented on #193
Thanks for your fast answer. My locales are set to:

de_DE.UTF-8 UTF-8
and
en_US.UTF-8 UTF-8

I had to enable the en_US.UTF-8 UTF-8 due to a problem with another program. Disabeling it and regnerating the locales seems to work.

A valid workaround (in case multiple locales are needed) is to explicitly set the locale before starting the build:
`LC_ALL=de_DE.UTF-8`

or `en_US.UTF-8`

Thanks for your

[2018-04-05 18:12] firesurfer commented on #193
That is quite simply:
edit `etc/locale.gen` to enable locales for example for german utf8 and english utf8
run `sudo locale-gen` to regenerate the locales.
Make sure to close and reopen your terminal (so the new locales got loaded) and build a ros2 workspace. (Perhaps delete build and install folder before)

[2018-04-05 18:30] mikaelarguedas commented on #193
I am asking as I was unable to reproduce the issue.
You didn't have to change any of the locales related environment variables ?

Even if I have several locales enabled in `etc/locale.gen` (French, English and German all UTF8), the build works and `LC_ALL` and `LANG` always refer to only one of the locales.
It would be helpful to know the value of your `LANG` and `LC_ALL` variables when it fails

[2018-04-05 20:41] firesurfer commented on #193
`LANG=de_DE.UTF-8`
the LC_ALL variable isn't set by default. If I set it by hand to `LC_ALL=de_DE.UTF-8` the build works fine.

According to https://wiki.debian.org/Locale the LC_ALL variable shouldn't be set by default.

[2018-04-06 05:39] richiware commented on #193
I have had same problem in some systems. It is due to my surname in this [line](https://github.com/ros2/rmw_fastrtps/blob/85568b20419db8aec54dd8bdeb375a1b31332c94/rmw_fastrtps_cpp/package.xml#L7), because it contains an accent. Maybe it is better to remove it.

[2018-04-09 17:57] mikaelarguedas commented on #193
While this would be a temporary workaround, many ROS users have unicode characters in their names so asking them to change their name in the package.xml is not a desired outcome.

the LC_ALL variable isn't set by default. If I set it by hand to LC_ALL=de_DE.UTF-8 the build works fine.

Thanks @firesurfer for the additional information. Mine was set as per the [ROS 2 installation instructions](http

[2018-04-12 00:05] nuclearsandwich opened #194 "Payload size exceeding pre-allocated limit."
## Bug report

**Required Info:**

- Operating System:
  - Windows 10, MacOS 10.12, Ubuntu Xenial

- Installation type:
  - Build from source on ci.ros2.org

- Version or commit hash:
  - [repos file from vcs export --exact](https://gist.githubusercontent.com/nuclearsandwich/baeaf8123c448cc676228d678395704e/raw/f85414684c826e9188c12c264badde137d4aa06d/rmw_fastrtps_repro.repos)

- DDS implementatio

[2018-04-17 12:29] firesurfer commented on #193
@mikaelarguedas
I didn't followed this part of the installation instruction because it worked fine for me before. After I read the according debian wiki page I don't think it is a good idea to force setting LC_ALL.

Unfortunatly I not familiar enough with python to provide a fix. My first attempt to google that issue came up with two solutions. Either force a locale inside the python script or tel

[2018-04-17 12:33] firesurfer commented on #157
Please see https://github.com/ros2/ros2/issues/480 regarding this issue. A colleague of mine created a container environment in which the error comes up.

In our real setup the issue became better (but not completly solved) after the deadlock fix was commited in FastRtps last week: https://github.com/eProsima/Fast-RTPS/commit/17e717c0740dab99c353b07c4e76237bcc7a32ba

[2018-04-17 17:58] mikaelarguedas commented on #193
Agreed

Yes that is my guess as well.

I unfortunately haven't been able to reproduce this issue locally or on CI (https://github.com/ros2/ci/compare/env_lc_all).
As I don't remember any of the ROS 1 instructions requiring the locale to be set explicitly, so it must be an issue on the ROS 2 parsing side.
Looking at ament package it looks like it's already specifying `utf-8` when reading the files:

[2018-04-18 08:12] firesurfer commented on #193
Okey, now I can't reproduce this bug anymore even with the master branch. I guess it might be due to an update of my system. Apparently the python-lxml lib got updated (I'm not sure if that lib is used in the parser)

That might be the reason why you couldn't reproduce the bug.

Thanks for your help I'm closing this bug.

[2018-04-18 08:12] #193 closed

[2018-04-19 06:04] richiware commented on #193
My Raspberry Pi has this problem. Using lastest branches in ROS2 I get this error:

[code]

Using your change in ament_cmake I get a different error:

[code]
I was able to resolve this problem with next patch:

[code]

[2018-04-23 23:37] sloretz commented on #149
If I understand correctly then the workaround in #148 seems reasonable to me. Is the issue that `rmw_fastrtps_cpp_LIBRARIES` contains an IMPORTED target from an upstream library? Would it be fine if it contained an IMPORTED target from the current library, or does it need to have full paths like [recommended for xxx_LIBRARIES in find-modules](https://cmake.org/cmake/help/v3.5/manual/cmake-develope

[2018-04-27 19:52] dirk-thomas commented on #149
I think option 1 is the desired one. The package would "just" need to use the functionality provided by the [ament_cmake_export_interfaces](https://github.com/ament/ament_cmake/tree/f74ccfa7399156d20c8d0eff8100445b7eefebd9/ament_cmake_export_interfaces) package.

Unfortunately until now only a single ROS package makes use of that: [ament_index_cpp](https://github.com/ament/ament_index/blob/d9f7f27

[2018-05-03 16:25] sloretz commented on #149
Closing since #198 is merged

[2018-05-03 16:25] #149 closed

[2018-05-07 22:02] mikaelarguedas commented on #176
@sloretz To create SRU for Bionic. Create a vendor package in the meantime

[2018-05-17 23:58] sloretz commented on #176
First step towards SRU: created bug on Bionic for the issue

https://bugs.launchpad.net/ubuntu/+source/asio/+bug/1771903

[2018-05-24 15:40] dirk-thomas opened #202 "insufficient performance in the QoS demo using default parameters"
The scope of this ticket is focus on the performance of the QoS demo with default values between publisher and subscriber with the *same* RMW implementation. The cross vendor results are only mentioned for completeness / context.

To reproduce run the easiest example from the [QoS demo](https://github.com/ros2/ros2/wiki/Quality-Of-Service):
* `ros2 run image_tools cam2image -b`
* `ros2 run image_t

[2018-05-24 18:34] mikaelarguedas commented on #202
For people testing this today: if you can afford to rebuild a workspace before testing, please consider using the `timestamp_console_logging` branch from rcutils (and rclcpp if you build the tests). This will allow use to have timestamps reported in the console output and give more quantitative feedback.

To use it:
- compile a workspace using the `` branch
- set the `RCUTILS_CONSOLE_OUTPUT_FORMAT

[2018-05-24 22:49] clalancette commented on #202
I tested Fast-RTPS on my Fedora machine as well (all ros2 repos on latest master).  The Fast-RTPS -> Fast-RTPS was also very stuttering, just like what @dirk-thomas mentioned in the initial comment.

I'm having some trouble rebuilding on the `timestamp_console_logging` branch that @mikaelarguedas mentioned, but I'll try a bit more and report back here once I figure it out.

[2018-05-24 23:56] dhood commented on #202
Seeing the same stuttering with fastrtps on my 16.04 desktop.

These are some screen captures of the performance:
- [FastRTPS to FastRTPS, 640x480](https://drive.google.com/open?id=1ruOzFnKRx-6xfQaaEim62ZdYLzbuTmip)
- [Connext to Connext, 640x480](https://drive.google.com/open?id=1tna-9OR_3pAJkxK-TBz6Xexs4LJU0-i7)

[2018-05-25 00:45] clalancette commented on #202
I finally got the timestamps compiling, and took some data on my machine.  First, this is the default of 320x240, and the cam2image process took ~12% of a core and the showimage took ~10% of a core (so I was not CPU bound).  Second, once I took the data I post-processed it with a small python script to calculate the delta between successive publish/receives (I can share that script later if needed

[2018-05-25 06:19] JaimeMartin commented on #202
We were commenting the issue in our daily meeting. We are now working in some performance improvements, including the rmw layer, so it is perfect timing to analyze this case. We will update you guys soon.

[2018-05-25 07:47] mikaelarguedas commented on #202
Result of the 640x480 test on the 3 rmw implementations with the following setup:
Dell XPS15, Ubuntu 16.04, send/receive 400 images, image rendering enabled

`ros2 run image_tools cam2image -b -x 640 -y 480`

640x480:
-----------

  | Min | Max | Mean | Median | Stddev | fps | sender CPU | receiver CPU
-- | -- | -- | -- | -- | -- | -- | -- | --
connext | 0.0300738811 | 0.041087389 | 0.0318081552 |

[2018-05-25 09:11] wjwwood commented on #202
I experienced the same behavior as @mikaelarguedas on my 2017 macbook pro (macOS 10.13.3).

I noticed a few behaviors of interest to me:

- @320x240 I experience smoothness interrupted (seemingly randomly) with stuttering, basically what @mikaelarguedas's plot shows
- @640x480 I experience smoothness uninterrupted, but a growing latency (sort of what I would expect from reliable + keep all), but n

[2018-05-25 20:00] dejanpan commented on #202
@andreaspasternak can you weigh in here please?

[2018-05-28 19:15] mikaelarguedas commented on #193
Thanks @richiware for trying it out, and suggesting an additional fix! Sorry I missed this comment for some reason.

My understanding is that both the patch [suggested here](https://github.com/ament/ament_cmake/commit/3d3c02b26948aa3708a3d2d0a924aa2c61a26cb5) and the one you posted here are necessary. Is that correct ?

[2018-05-29 10:44] richiware commented on #202
In this [branch](https://github.com/eProsima/Fast-RTPS/tree/hotfix/2933) I've decreased default values for some timers and it improves the responsive at RTPS level. I've noticed it using cam2image and showimage. Can anyone test with this branch?

[2018-05-29 14:02] mikaelarguedas commented on #202
Thanks @richiware for lookinf into it. The behavior on the hotfix branch is much better indeed!

Could you breifly describe what are the tradeoffs being made using the new timer values

Result on my XP15 using the new branch:

  | Min | Max | Mean | Median | Stddev | fps
-- | -- | -- | -- | -- | -- | --
connext | 0.0300700665 | 0.0410900116 | 0.0318081648 | 0.0316700935 | 0.0010073107 | 30.2290620

[2018-05-29 18:52] dirk-thomas commented on #202
The branch definitely shows a better performance with the burger demo. Thank you for the quick update :+1:

Yeah, any information what you expect as "side effects" for other use cases would be good to hear.

[2018-05-30 13:30] mikaelarguedas commented on #193
Ok we will add my patch to https://github.com/ament/ament_cmake/pull/136 (that contains only your patch at the moment) then.

Thanks for testing and providing a patch!

[2018-05-30 17:04] calvertdw opened #204 "Switch to use eProsima/RPC over DDS for services?"
Just wondering if there is a need or plan to use the RPC over DDS stuff provided by eProsima for services.

Client code appears to be implemented here: https://github.com/eProsima/RPC/blob/master/src/transports/dds/components/RTPSProxyProcedureEndpoint.cpp

[2018-05-31 10:58] richiware commented on #204
First approach was to use it, but it is not interoperable with other rmw implementations. For this reason it's not used.

[2018-05-31 16:01] #204 closed

[2018-06-03 18:05] andreaspasternak commented on #202
Hi all,

Regarding this:

Next week we will release as open source a performance measurement tool for various communication systems. Its core features are:
* Logging of performance metrics such as latency, throughput, lost samples and system utilization to a file.
* Creating graphical diagrams from the log files using an extensible python script.
* Easy extendability to any desired publish/subscri

[2018-06-04 16:34] dirk-thomas commented on #202
@richiprosima Can you please respond to the above questions? We would like to get this resolved rather sooner than later. Thanks.

[2018-06-04 17:01] richiware commented on #202
@mikaelarguedas @dirk-thomas I've decreased two QoS values, one for publishers and other for subscribers.

* For publisher: i've decreased `publisher_attr.times.nackResponseDelay`. It specifies the time a publisher waits until response to a subscriber's acknack. It's previous value was 45ms, and in the patch it is 5ms.
* For subscribers: i've decreased `subscriber_attr.times.heartbeatResponseDelay

[2018-06-04 17:15] dirk-thomas commented on #202
@richiware

[2018-06-04 19:02] richiware commented on #202
I've updated my comment ↑

[2018-06-04 19:13] mikaelarguedas commented on #202
Thanks @richiware for the updated comment!

(sorry if it's obvious) Can you give examples of scenarios where a shorter `nackResponseDelay` (or `heartbeatResponseDelay`) would result in worse performance?

As a made up example of the kind of "scenarios" I'm thinking of: Is it possible that in network environments with significant latency, fragments will be considered lost while they may still be on

[2018-06-05 07:05] richiware commented on #202
`nackResponseDelay` is also used to reduce the heartbeat messages. If several acknack messages, from different subscribers, are received in a short time, they will be answered by one heartbeat instead of one for each acknack.

[2018-06-11 18:22] matt-attack commented on #202
It's concerning to me that these parameters are fixed times. It would probably help if they were related to network latency somehow so you don't have to tune them manually for the type of network you are using.

[2018-06-11 19:36] dirk-thomas commented on #202
@richiware As far as I can see the patch hasn't been merged yet. Can you clarify the timeline when that is planned to happen?

[2018-06-12 05:52] richiware commented on #202
@dirk-thomas , @miguelcompany and I were working in a new release. We are integrating all new features, and also this patch, in our internal develop branch. I want to release it to master tomorrow Wednesday. Sorry for the inconveniences.

[2018-06-15 13:38] mikaelarguedas commented on #202
Commit that changed the timer values: https://github.com/eProsima/Fast-RTPS/commit/201a393b500a35d56d3e46b5b6c2c6a96e85928e

[2018-06-18 12:46] mikaelarguedas commented on #176
@sloretz to follow-up with debian maintainer to get a new version in debian and with Ubuntu bug team to get the fix from the SRU released in bionic.

This bug now affects only Linux as a newer version  is available for the other platforms.

Removing the milestone as this is now de-correlated from the Bouncy release

[2018-06-18 17:27] mikaelarguedas commented on #92
With https://github.com/ros2/rmw_fastrtps/issues/202 (and this commit https://github.com/eProsima/Fast-RTPS/commit/201a393b500a35d56d3e46b5b6c2c6a96e85928e) it looks llike the performace issues we were facing with Fast-RTPS have been resolved. As the performance is now similar to the other RMW implementations I'm going to close this issue

[2018-06-18 17:27] #92 closed

[2018-06-18 18:49] paulbovbel commented on #92
Just to verify since https://github.com/ros2/rmw/issues/115 is closed as well, does this mean QoS settings for flow control will not be exposed via RMW?

[2018-06-19 09:49] minggangw opened #209 "Validate the CustomServiceRequest object"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 16.04
- Installation type:
From source
- Version or commit hash:
8ee72cd512454eb826bd150cce89793b8609f958

#### Expected behavior
We must check the `request.buffer_` before constructing the class of `eprosima::fastcdr::Cdr` object

[code]

#### Actual behavior
[Not checked](https://github.com/ros2/rmw_fastrtps/blob/master/rmw_fastrtps_c

[2018-06-19 18:42] #209 closed

[2018-06-21 15:07] OpusK opened #212 "FastRtps Topic & ROS2 Topic List"
Hi,

When using the HelloWorld example of the C++ example in ROS2, it appears in the node list, but not in the topic list. (using "ros2 topic list" command)
Of course, when "node_demos_cpp" is used, it appears in the Topic list.

Is there anything I have to do separately?

Does not the topic list of ROS2 fetch the topic list registered in DDS?

[2018-07-19 17:39] guillaumeautran opened #216 "rmw_count_subscribers / rmw_count_publishers performance improvments"
The current implementation of  `rmw_count_subscribers` and `rmw_count_publishers` functions as a linear runtime complexity , O(N), w.r.t. the number of ROS2 topics published. This is not a big problem when the calling code has to count the number of ROS2 subscribers/publishers for a single topic, but it becomes a lot more of a performance problem when the calling code needs to count the number of

[2018-07-19 18:15] mikaelarguedas commented on #194
As we didn't see this a few months and that I'm not able to reproduce, I'm going to close this for now.

I bumped https://github.com/eProsima/Fast-RTPS/issues/213 so that the feature to define the memory strategy for discovery reader/writers can be modified. At that point we should set it to `PREALLOCATED_WITH_REALLOC_MEMORY_MODE` like we do for the other reader/writers

[2018-07-19 18:16] #194 closed

[2018-07-26 12:40] anhosi opened #219 "Question about handling of array messages"
I am not sure whether this is the correct place for this issue. So please direct me to a better location.

Together with @Karsten1987 we stumbled over
https://github.com/ros2/rmw_fastrtps/blob/8f6a13c5995b13a8bd9a0d147851ab5754bdf104/rmw_fastrtps_dynamic_cpp/include/rmw_fastrtps_dynamic_cpp/TypeSupport_impl.hpp#L279.

I have only limited understanding about the whole rmw. As far as I understand a

[2018-07-26 21:08] deeplearningrobotics commented on #219
IMHO, if `field` was not originally  cast to `void *` from a `std::vector<unsigned char> *` then  this code yields undefined behavior according to the type aliasing rules.

https://en.cppreference.com/w/cpp/language/reinterpret_cast -> Type aliasing

[2018-07-27 07:24] anhosi commented on #219
@deeplearningrobotics exactly. From my understanding `field` might very well have been a `std::vector<float>` for a `float32[]` message member.

[2018-07-31 15:26] mikaelarguedas opened #220 "Move typesupport packages to another repository"
https://github.com/ros2/rmw_fastrtps/pull/218 introduced circular repo dependency preventing these packages from being released without hacks.

Similar to https://github.com/ros2/ros2/pull/515

[2018-08-02 22:08] dirk-thomas commented on #216
Addressed by #217.

[2018-08-02 22:08] #216 closed

[2018-08-04 00:16] #220 closed

[2018-08-06 03:24] MarcTestier opened #223 "Build failed, require fastrtps_cmake_module"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - master branch - commit 7bb2891
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

I have an error while building rmw_fastrtps_shared_cpp with :
[code]

#### Expected behavior

Shouldn't have any error on bui

[2018-08-06 03:37] dirk-thomas commented on #223
If you use the latest state from master you also need to consider other changes from other repositories. So you will need to clone the following new repository which is where the "missing" packages have been moved to: https://github.com/ros2/ros2/commit/13ee60a815f170d689ffb323e4c3c2747a72407f

[2018-08-06 03:37] #223 closed

[2018-08-09 18:11] sloretz commented on #219
@richiprosima may I ask you to look at what it would take to fix this?

[2018-08-29 06:38] MiguelCompany commented on #150
I think this can be done calling [rmw_set_log_severity](https://github.com/ros2/rmw_fastrtps/blob/7bb28917586988299e7ccdfd0c209b259c9e8fbc/rmw_fastrtps_cpp/src/rmw_logging.cpp#L25) which in turn calls [this](https://github.com/ros2/rmw_fastrtps/blob/7bb28917586988299e7ccdfd0c209b259c9e8fbc/rmw_fastrtps_shared_cpp/src/rmw_logging.cpp#L29)

[2018-08-29 16:46] dirk-thomas commented on #150
Implemented a while ago in #156.

[2018-08-29 16:46] #150 closed

[2018-09-05 13:08] nuclearsandwich opened #226 "New test failure with latest Fast-RTPS"
## Bug report

I'm not sure if this is a regression in Fast-RTPS or an update required in rmw_fastrtps_cpp.

- Operating System:
  All Platforms

- Installation type:
  Source build

- Version or commit hash:
  First occurrence with https://github.com/eProsima/Fast-RTPS/commit/7b2c5b90ce626604b5f8a80b16c946b8d07552f8

- DDS implementation:
  rmw_fastrtps_cpp

#### Steps to reproduce issue

Reprodu

[2018-09-06 21:49] sloretz commented on #176
Asked debian maintainer what is needed to get the version in experimental migrated to unstable. https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=908169

[2018-09-07 12:31] clalancette commented on #226
I did a bit of digging here, and it looks like https://github.com/eProsima/Fast-RTPS/commit/7b2c5b90ce626604b5f8a80b16c946b8d07552f8 is the culprit here.  What happens is that https://github.com/ros2/rcl/blob/master/rcl/test/rcl/test_client.cpp#L87 calls `rcl_send_request()` and expects the sequence number to be incremented by 1 at the end, but this is not happening.  The sequence goes:

https://g

[2018-09-10 18:51] mikaelarguedas commented on #226
@clalancette can you please provide permalinks instead of links pointing to the master branch ?

[2018-09-11 13:31] nuclearsandwich commented on #226
Here's a permalinked version of @clalancette's trace:

* https://github.com/ros2/rcl/blob/a0f83b071a67b1538f2210a1265fbb814aa0abd7/rcl/test*/rcl/test_client.cpp#L87
* https://github.com/ros2/rcl/blob/a0f83b071a67b1538f2210a1265fbb814aa0abd7/rcl/src/rcl/client.c#L266
* https://github.com/ros2/rmw_fastrtps/blob/e9c8b6915bc158848d16ecff66af91b70c02fd22/rmw_fastrtps_cpp/src/rmw_request.cpp#L25?noexpan

[2018-09-11 13:47] richiware commented on #226
I've found the problem and created eProsima/Fast-RTPS#258 PR to solve it. I've checked against ros2 but if you can do it too, I will be more relaxed.

[2018-09-11 14:12] clalancette opened #228 "Cannot communicate between nodes when only loopback is up"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04, ARM64 (Rock64 board)
- Installation type:
  - Source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS and Opensplice
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

1.  Compile latest ros2 from master: `colcon build --event-handlers console_cohesion+`
1.  Source the workspa

[2018-09-11 14:26] clalancette commented on #226
@richiware, thanks, will take a look and report back.

[2018-09-11 14:57] dirk-thomas commented on #228
The interface must support multicast. That is simply a requirement. Have you tried to explicitly enable it (e.g. as described in https://answers.ros.org/question/300370/ros2-talker-cannot-communicate-with-listener/)?

Other vendors might offer alternatives (like shared memory) but I don't think that can be expected from every rmw implementation.

[2018-09-11 15:36] nuclearsandwich commented on #226
CI of just the rcl tests with the hotfix branch

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=5160)](http://ci.ros2.org/job/ci_linux/5160/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=1937)](http://ci.ros2.org/job/ci_linux-aarch64/1937/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&bui

[2018-09-11 15:57] Karsten1987 commented on #228
Given that this issue is reported multiple times, should we note this on the ros2 wiki on the tutorials page? Or is there a suitable place for it?

[2018-09-11 16:05] mikaelarguedas commented on #226
can you please also run CI with the system tests (test_communication, test_security and test_rclcpp) to make sure there is no side effect at the system level ?

[2018-09-11 16:08] dirk-thomas commented on #228
A note that multicast needs to work for whatever network interface is used and a reference to `ros2 multicast` for trying it would be good. Probably also the snippet from the answer how to change the configuration if necessary.

[2018-09-11 16:29] sloretz commented on #228
duplicate of ros2/ros2#552 ?

[2018-09-11 17:05] mikaelarguedas commented on #226
CI including system tests:

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=5161)](http://ci.ros2.org/job/ci_linux/5161/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=1938)](http://ci.ros2.org/job/ci_linux-aarch64/1938/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=4288)](http://ci.r

[2018-09-11 18:55] Karsten1987 commented on #228
I went ahead and added https://github.com/ros2/ros2/wiki/Tutorials#troubleshooting to the tutorials page. I am happy to move the section to another better suited place. Let me know.

[2018-09-12 13:54] clalancette commented on #228
@Karsten1987 Thanks for that.  I edited that a bit, since the receive needs to be up for the test to work.

I tried the suggestions in that post plus the suggestions in ros2/ros2#552, and I still cannot communicate with only localhost.

Yeah, looks like the same thing.  We can close this one if we want to concentrate on the other one, but we still need to figure this use case out.

[2018-09-12 14:32] dirk-thomas commented on #226
With the upstream patch merged this can be closed.

[2018-09-12 14:32] #226 closed

[2018-09-12 14:36] clalancette commented on #228
No, that test doesn't work.  Both the `ros2 multicast send` and `ros2 multicast receive` commands throw exceptions:

[code]

[code]

Additionally, I tried running `ros2 run demo_nodes_cpp talker` and `ros2 run demo_nodes_cpp listener`, and no data flows between them (the talker is continually publishing as expected, but the listener never receives anything).

[2018-09-12 15:47] mjcarroll commented on #228
I was receiving the same error, but found out that I had to enable multicast on `lo` because it's not on by default (from: https://stackoverflow.com/a/30982079)

[code]

Example output:
[code]

[2018-09-12 16:41] clalancette commented on #228
Hm, OK.  I did try that, but I'll give it another try a little later.

[2018-09-12 16:47] mjcarroll commented on #228
It may be a false positive, that `172.18.` net is a `br` interface for me, that I brought down, but may have been brought back up by something else

[2018-09-13 20:29] mjcarroll commented on #228
I just tried this again on my laptop, which doesn't have the bridge interface, and it seems to have worked there as well, it may be worth trying again @clalancette.

[2018-09-21 16:07] clalancette commented on #228
@mjcarroll and I did some more experimentation here.  With all networking down except for lo, I get the error messages as specified in https://github.com/ros2/rmw_fastrtps/issues/228#issuecomment-420671974 .  If I follow the instructions at https://stackoverflow.com/a/30982079 , then `ros2 multicast send` and `ros2 multicast receive` work properly and transmit a 'Hello World' between them.  I then

[2018-09-21 16:39] clalancette commented on #228
After some more experimentation I found out that if I setup loopback with https://stackoverflow.com/a/30982079 and use opensplice, things work fine.  That seems to point to a problem in Fast-RTPS, but I'll have to investigate more.

[2018-10-04 12:35] clalancette commented on #228
Update: After some poking around, I found that Fast-RTPS wasn't always considering localhost as a valid device to send data on.  I've opened up https://github.com/eProsima/Fast-RTPS/pull/267 which fixes the problem in my testing (along with the route and lo multicast changes).

[2018-11-20 04:41] DongheeYe opened #239 "Fail to communicate service/client"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  -  Source
- Version or commit hash:
  -  master
- DDS implementation:
  -  Fast-RTPS
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

1. Compile latest ros2 from master: colcon build --symlink-install --cmake-args -DSECURITY=ON -DCMAKE_BUILD_TYPE=Debug
2. Source the workspace

[2018-11-20 04:42] DongheeYe commented on #239
I figure out the reason and fix it with https://github.com/ros2/rmw_fastrtps/pull/238.
Please check the patch.

[2018-11-28 21:32] deeplearningrobotics commented on #219
@richiware: Could you take a look a this?

Or is this covered under the standard?

Chapter 3.10 (http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3690.pdf )

[2018-11-29 09:41] richiware commented on #219
I will try to make the changes next week.

↪ 2018-11-28 mié 22:32, deeplearningrobotics <notifications@github.com>:

[2018-11-29 10:12] deeplearningrobotics commented on #219
@richiware: There are a lot of `reinterpret_casts` and also casts to and from `void *` which are undocumented. So I think there is a generally bigger work packages to verify their correctness and somehow document that those do not exhibit UB.

[2018-12-10 22:30] alsora opened #249 "Maximum number of subscriptions to a topic"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - from source
- Version or commit hash:
  -0.5.1
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior

I create 1 publisher node and 20 subscriber nodes.
I add all of them to the same executor and make them spin.
L

[2018-12-13 03:00] wjwwood opened #246 "Fast-RTPS cross vendor tests are failing frequently on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows (only)
- Installation type:
  - source
- Version or commit hash:
  - master (Fast-RTPS 1.7.0 and Connext 5.3.1)
- DDS implementation:
  - Fast-RTPS/Connext
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

In terminal A:

[code]

In terminal B:

[code]

#### Expected behavior

They communicate and the lis

[2018-12-13 06:53] richiware commented on #246
Before integrating FastRTPS v1.7.0 and the changes in rmw_fastrtps to support this version, they were tested against your CI ( [link](https://github.com/ros2/rmw_fastrtps/pull/233#issuecomment-444586237) ). As far as I know your CI checks communication between Fast RTPS and Connext. Do you know what changes are made in rmw_fastrtps after merging v1.7.0?

[2018-12-13 08:48] richiware commented on #246
We are trying to help investigating which could be the problem. We were analyzing your CI jobs. There is something we don't understand. We don't know how you CI jobs are internally and surely there is a reason. Why did job [1024](https://ci.ros2.org/view/nightly/job/nightly_win_rel/1024/) fail but next day job [1025](https://ci.ros2.org/view/nightly/job/nightly_win_rel/1025/) work successfully? It

[2018-12-13 14:04] nuclearsandwich commented on #246
While looking at last night's jobs I saw that [1042](https://ci.ros2.org/view/nightly/job/nightly_linux_debug/1042/testReport/) also has communication issues between connext and fastrtps. These failures are logged in https://github.com/ros2/build_cop/issues/153 and look to have first appeared in [1035](https://ci.ros2.org/view/nightly/job/nightly_linux_debug/1035/testReport).

It's not an explanat

[2018-12-13 14:12] MiguelCompany commented on #246
As I have stated [here](https://github.com/ros2/ros2/issues/621#issuecomment-446929472) it seems connext is now too restrictive on guidPrefix values. Could you check with eProsima/Fast-RTPS#353 ?

[2018-12-13 14:22] nuclearsandwich commented on #246
Thanks for linking that @MiguelCompany. I've triggered a build of our communication tests with the retest-until-pass setting reduced from 10 to 3.

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=5891)](http://ci.ros2.org/job/ci_linux/5891/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=2439)](http://ci.ros2.org/job/

[2018-12-13 15:38] nuclearsandwich commented on #246
There is warning output during cross-communication reported in https://github.com/ros2/demos/issues/293 but (Fast-RTPS <-> Connext is toward the end of the description). It doesn't appear that communication was inhibited so those warnings may or may not be related.

[2018-12-14 06:35] MiguelCompany commented on #246
@nuclearsandwich @wjwwood On the Linux debug build, I see that Connext is failing to initialize the rcl node on some tests where Fast-RTPS is not involved.

For instance, [this test](https://ci.ros2.org/job/ci_linux/5893/testReport/junit/(root)/projectroot/test_messages_c__rmw_connext_cpp/) says

DDSDomainParticipant_impl::createI:ERROR: Failed to auto-enable entity
DomainParticipantFactory_impl::

[2018-12-14 11:08] MiguelCompany commented on #246
@nuclearsandwich @wjwwood FYI, eProsima/Fast-RTPS#353 has been merged on master.

[2018-12-18 21:59] mjcarroll commented on #246
During the lead-up to Crystal, I tested cross-vendor support on my Windows 10 Virtual Machine, and did not find any issues.

In one of the hangouts, @wjwwood put forward the hypothesis that FastRTPS, OpenSplice, and Connext may be choosing different network interfaces in order to do discovery or connectivity, leading the nodes to fail to discover each other.  This is only a hypothesis and has not

[2018-12-19 15:04] clalancette commented on #228
This was fixed by https://github.com/eProsima/Fast-RTPS/pull/303, so closing.

[2018-12-19 15:04] #228 closed

[2018-12-19 18:38] richiware commented on #249
Thanks for the ping. Would you be kind to create an issue on our repository and link with this issue? It would be better
for tracking by us. Thanks.
↪ 2018-12-19 mié 16:25, Chris Lalancette <notifications@github.com>:

[2018-12-31 19:43] TSC21 opened #251 "Bind a Fast RTPS publisher with a ROS 2 subscriber fails"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - latest release for `bouncy`
- DDS implementation:
  - Fast RTPS

#### Steps to reproduce issue
Follow the steps set in:
1. https://dev.px4.io/en/middleware/micrortps.html#setting-up-the-workspaces
2. https://dev.px4.io/en/middleware/micrortps.html#building-the-wor

[2019-01-02 19:34] dirk-thomas commented on #249
@alsora Please cross reference when cross posting: https://answers.ros.org/question/308794/maximum-number-of-subscribers-per-topic/

[2019-01-05 17:44] TSC21 commented on #251
@nuclearsandwich @dirk-thomas any input you can give here? Thanks!

[2019-01-05 21:11] dirk-thomas commented on #251
In the code snippet creating the publisher you are setting a partition. In Ardent the namespace part of a topic was mapped to DDS partitions. In Bouncy as well as Crystal that is not the case anymore. Partitions are not used anything - instead the namespace stays part of the topic name.

Not sure if the following is the best reference but it should give you a starting point: ros2/ros2#476

[2019-01-07 15:02] TSC21 commented on #251
@dirk-thomas I just tried to remove the partitions and the result is the same. Here's an example of a generated message Publisher:
[code]
and here's the generated `PubSubTypes`, for the same message:
[code]

The reference you gave me seems to address the removal of the partition, but I don't know what else should I aim to here. Any other tip? Thanks!

[2019-01-07 17:38] dirk-thomas commented on #251
Your snippet uses the topic name `SensorCombined_topic`. I don't know what you are using on the ROS 2 side as the topic name but after name mangling I would expect it to not be equal to `SensorCombined_topic`.

I would suggest to either debug the subscriber on the ROS 2 side to see what actual values are being used (so that your code can match all names and QoS settings) or to use a tool to intros

[2019-01-07 18:00] TSC21 commented on #251
The listener code is exactly the same for Ardent and for Bouncy, though just works on Ardent: https://github.com/PX4/px4_ros_com/blob/master/src/listeners/sensor_combined_listener.cpp. The topic naming matches. Anything abnormal you can see on it?
Can you suggest a tool for do that introspection?

[2019-01-07 18:02] dirk-thomas commented on #251
If you have access to the RTI Admin Console I would recommend that. Otherwise Wireshark is probably your best bet.

[2019-01-07 18:12] TSC21 commented on #251
Thanks I will try that. Though, can you specify what were the more relevant changes on the rmw_fastrtps implementation from Ardent to Bouncy? I mean, what differences should I expect to find besides the partition? Anything on the QoS as well?

[2019-01-07 18:36] dirk-thomas commented on #251
You can find all changes between Bouncy and Ardent here: https://github.com/ros2/rmw_fastrtps/compare/ardent...bouncy

Beside the already mentioned ros2/rmw_fastrtps#192 nothing sticks out to me.

As mentioned before I would suggest to double check your code. Before you used `rt` as the partition but there is no reference of `rt` in the new snippet. While the partitions have been dropped their con

[2019-01-07 22:13] TSC21 commented on #251
I am not sure of the actual meaning of this. Does that mean I need to include the partition but pass it with an empty string?

[2019-01-07 22:16] dirk-thomas commented on #251
Your topic name needs to be something like this `/rt/SensorCombined_topic` to match the mangling happening in ROS 2. Since I am not sure about the exact value out of my head I suggest to print the value used in ROS 2 FastRTPS.

[2019-01-07 22:38] wjwwood commented on #251
You should be able to see the exact names with this script:

[code]

For example with talker I get this:

[code]

Note this:

[code]

[2019-01-07 22:52] TSC21 commented on #251
This is fantastic! Thank you very much @dirk-thomas (and @wjwwood for the script)! I just added the `rt/` suffix to the topic name and it worked as it should. This can be closed now!

[2019-01-11 23:44] dirk-thomas commented on #239
Closing since #238 is supposed to address this.

[2019-01-11 23:44] #239 closed

[2019-01-14 20:27] jacobperron opened #253 "Failing tests with rmw_fastrtps_dynamic_cpp"
## Bug report

Several tests failing related to `rmw_fastrtps_dynamic_cpp`.
Likely, a regression introduced by https://github.com/ros2/rmw_fastrtps/pull/238.

**Required Info:**

- Operating System:
  - Linux
- Installation type:
  - source
- Version or commit hash:
  - d8f1959a7
- DDS implementation:
  - rmw_fastrtps_dynamic_cpp
- Client library (if applicable):
  - N/A

#### Steps to reproduce i

[2019-01-15 00:49] #253 closed

[2019-02-05 15:30] alsora opened #255 "Ethernet connection crashing when running multiple nodes"
## Bug report

**Required Info:**

- Operating System:
 Ubuntu 16.04/18.04
- Installation type:
binaries
- Version or commit hash:
crystal
- DDS implementation:
Fast-RTPS
- Client library (if applicable):
rclcpp

#### Steps to reproduce issue

Issue related to this question https://answers.ros.org/question/313628/ros2-and-network-usage/

Whenever I'm connected using an ethernet cable and I start m

[2019-02-13 06:27] richiware commented on #246
We fixed an issue sending multicast in a Windows machine with several interfaces and some of them disconnected. We think that issue should fix this one. Can you confirm?

[2019-02-14 03:57] cottsay commented on #255
Have you tried reproducing this with other hardware? Possibly from another machine, or using a USB Ethernet adapter?

[2019-02-14 09:25] alsora commented on #255
Yes, I have 3 laptops and it happens on all of them.

The same laptops do not present the problem when I was connected to a different network.

Do you have any idea what should I look for, in order to debug this issue?

[2019-02-14 11:45] richiware commented on #255
I've executed your example in my linux laptop and couldn't reproduce your problem. Does it also occur with the HelloWorld example that comes with Fast RTPS?

[2019-02-14 16:34] alsora commented on #255
Do you mean this ?
https://github.com/eProsima/Fast-RTPS/tree/master/examples/C%2B%2B/HelloWorldExample

This is something different from my problem, as it's just creating one participant each time you call the executable.

I have the problem if I start some nodes almost at the same time, as when using a launch file for example.

I noticed that I don't have this problem if I run a single node, eve

[2019-02-14 19:38] sloretz commented on #176
debian sid has been updated to 1.12.2 https://packages.debian.org/sid/libasio-dev

Since it's a bug in `libasio-dev` on ubuntu bionic and xenial I'm inclined to close this as won't fix. Instead I'll leave it to the ubuntu maintainers to move the SRU forward. Saying the issue affects you at https://bugs.launchpad.net/ubuntu/+source/asio/+bug/1771903 may help get the maintainer's attention.

[2019-02-14 19:38] #176 closed

[2019-02-15 17:47] alsora opened #257 "Strange RAM usage when creating subscriptions"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - Crystal
- DDS implementation:
  - Fast-RTPS, RTI Connext
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Define messages of fixed size

Array100kb.msg
[code]

Instantiate subscription to topic of this message type

[code]

#### Behavio

[2019-02-15 18:06] dirk-thomas commented on #257
Please include an example which exact executable you are running. When looking at the `pub_node_<SIZE>` (e.g. https://github.com/alsora/ros2-code-examples/blob/c58fa3b3b4196e5e3333f11baa0b295d008e8419/simple_memory_test/src/pub/4mb_main.cpp) the node seems to never publish any messages and just sit there being idle?

[2019-02-15 18:30] alsora commented on #257
Yes exactly.
In the plots I'm only creating subscribers and letting them spin, without anyone publishing.

Similarly I tested if the issue was present for publishers, i.e. only calling `create_publisher`, but without  doing anything.

[2019-02-15 18:45] dirk-thomas commented on #257
So when running e.g. just the `pub_node_4mb` executable you see an increased memory usage over time for that process? I see a constant memory usage of 9.5 MiB for that process (on 18.04 with the latest Debian packages). For `sub_node_4mb` the value is 9.9 MiB but also constant.

[2019-02-15 18:51] alsora commented on #257
Values are always constant in time.

The problem is that I would expect them to be also more or less invariant to the type of message.

The value I see with `sub_node_10b` is 20MB.
The value I see with `sub_node_450kb` is 56MB.
The value I see with `sub_node_4MB` is 22MB.

There is a very strange high memory usage for some subscriptions in the range 50kb 450kb

[2019-02-15 18:56] dirk-thomas commented on #257
Which RMW implementation are these for? FastRTPS or Connext?

[2019-02-15 18:58] alsora commented on #257
Fastrtps..

With opensplice the memory usage for the same tests is invariant.

[2019-02-15 19:01] dirk-thomas commented on #257
I can't reproduce the numbers on my end - all pub/sub binaries have a memory usage of ~ 9-10 MiB.

One thing to keep in mind is that when creating publishers and subscribers the RMW impl. might choose to preallocate a number of message instances. That is usually limited to smaller messages where as larger messages might only be allocated dynamically. That might be a reason for your drop in the plo

[2019-02-16 10:34] alsora commented on #257
That's very interesting.
Is there a way for managing how this feature works?

However I tested again the nodes on a fresh Ubuntu 18.04 system, installing the latest Debian packages and I still see the issue.
Moreover I never get less than 20MB of memory usage.

I first noticed this problem on an ARMv7 platform where I was still getting 11MB for most of the nodes, except for a subscription to a sta

[2019-02-18 10:15] MiguelCompany commented on #257
Hi @alsora

Fast-RTPS will by default pre-allocate space for 100 message instances. You can change this behavior using an XML file. By default, Fast-RTPS will look for `DEFAULT_FASTRTPS_PROFILES.xml` on the current working directory, but a full path and filename can be specified using the environment variable `FASTRTPS_DEFAULT_PROFILES_FILE`. You can find the documentation on the format for the su

[2019-02-19 17:44] alsora commented on #257
@MiguelCompany Thank you a lot.
Changing the `allocated_samples` to 1 worked perfectly.

Indeed in my plot the difference in size between a subscription to a 100 KiloBytes message and the one to a 10 bytes message was exactly 10 MegaBytes (100KB x 100 pre-allocated).

@dirk-thomas are there any plans to better integrate this feature?
I was thinking that if a subscription has a `depth` of 1 in its

[2019-02-19 17:53] dirk-thomas commented on #257
Since it works well with other RMW implementation it seems to be a FastRTPS internal implementation decision (not sure if the DDS spec defines any of that behavior?). Therefore I would refer to @MiguelCompany if he can provide more context if that is something they could change in the FastRTPS code base.

[2019-02-20 09:10] richiware commented on #255
I will continue to reproduce your problem. Meantime can you test against new v1.7.1 released today? It will be very useful because we made improvements in the discovery phase.

[2019-02-20 09:26] richiware commented on #246
[v1.7.1](https://github.com/eProsima/Fast-RTPS/releases/tag/v1.7.1) incorporates eProsima/Fast-RTPS#394. Can you verify your nightly job works as expected? Thanks

[2019-02-20 14:10] alsora commented on #255
It's still present.
Unfortunately I really don't understand what can be the cause... If you have any idea or something that I can test, don't hesitate to ask.

[2019-02-20 14:50] clalancette commented on #249
I retested the test case at https://github.com/eProsima/Fast-RTPS/issues/359#issuecomment-465607247 and the situation is much, much better.  Since we track master in ROS 2, and the fix has now made it to master, I think we can call this solved.  So I'm going to close this out.

@alsora if you are still having problems with this issue, feel free to comment or reopen.

[2019-02-20 14:50] #249 closed

[2019-02-26 10:29] MiguelCompany commented on #257
@alsora You're welcome

At first I thought it was like that, but it seems it is only the case [for publishers](https://github.com/eProsima/Fast-RTPS/blob/1daad8f65541b292ff4a023021fd87f0eb6c2faa/src/cpp/publisher/PublisherHistory.cpp#L43). I have created eProsima/Fast-RTPS#434 in order for subscriber's history behavior to be consistent.

[2019-03-04 19:52] TSC21 commented on #251
@dirk-thomas, @wjwwood I am facing again the same issue regarding the binding between a Fast-RTPS publisher and a ROS subscriber, but this time with ROS2 Crystal.
The publisher now has the required suffix, as you can see on the bellow code:
[code]
And the respective ROS2 subscriber:
[code]
Is there any QoS configuration, or something else, that I am missing in comparison with the working setup on

[2019-03-04 19:53] TSC21 commented on #251
@wjwwood btw, using your script I get the following output:
[code]

[2019-03-05 14:45] alsora commented on #257
I think that we can close this as the new FastRTPS version 1.7.1 solves the issue.

[2019-03-05 21:09] wjwwood commented on #251
I see only `rt/SensorCombined_topic` in the output from your script, so it looks like it's wired correctly. You might want to check the other settings and ensure communication is working otherwise.

[2019-03-06 06:20] dejanpan opened #258 "FastRTPS drops messages under stress"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - source
- Version or commit hash:
  - https://github.com/ros2/ros2/blob/release-crystal-20190117/ros2.repos
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
1. Compile ros2 from https://github.com/ros2/ros2/blob/release-crystal-20190117/ros2

[2019-03-06 06:22] dejanpan commented on #258
@richiprosima @MiguelCompany @JaimeMartin fyi

[2019-03-06 08:01] ubercool2 commented on #257
@alsora just for your info, I do not see this fix in https://github.com/eProsima/Fast-RTPS/commits/v1.7.1.
Also the latest release of ROS 2 only includes Fast-RTPS 1.7.0 release: https://github.com/ros2/ros2/blob/release-crystal-20190214/ros2.repos#L37.

I'd re-open this as a super bug as this actually crashes the applications if you send pointclouds or images (e.g. 1MB messages).

[2019-03-06 13:33] sagniknitr commented on #257
@ubercool2 are you seeing this crash while visualizing point clouds in rviz2 ? For ex- does rviz2 crash with segmentation fault when you subscribe to any topic publishing pointcloud2 ?

[2019-03-06 17:31] dejanpan commented on #257
@sagniknitr we have this problem when running https://github.com/ApexAI/performance_test. We can see that the memory usage increases (left plot, orange line)
[log_Array2m_27-02-2019_18-44-46.pdf](https://github.com/ros2/rmw_fastrtps/files/2937501/log_Array2m_27-02-2019_18-44-46.pdf).

Now I've talked to @MiguelCompany offline and these are the findings:
1. The reason for increased memory is twofol

[2019-03-07 06:42] MiguelCompany commented on #257
@dejanpan

The hotfix will get cherry picked to master today, and patch release 1.7.2 will be out next week. Meanwhile, I have updated [1.7.1 release notes](https://github.com/eProsima/Fast-RTPS/releases/tag/v1.7.1)

A third option is to use the workaround i mention on [this comment](https://github.com/ros2/rmw_fastrtps/issues/257#issuecomment-464671472)

[2019-03-07 15:29] richiware commented on #258
@dejanpan I've found a race condition. It happens when new samples are notified to rmw_fastrtps by FastRTPS after rmw_fastrtps takes the sample from FastRTPS and before rmw_fastrtps's internal counter (`data_`) is updated. In this case FastRTPS's internal counter will differ from rmw_fastrtps's internal counter.

In this [branch](https://github.com/richiware/rmw_fastrtps/tree/hotfix/race_condition

[2019-03-08 11:26] TSC21 commented on #251
@wjwwood thanks for the feedback. What other settings are these that made this incompatible from ROS Bouncy to ROS Crystal?

[2019-03-08 15:25] dejanpan commented on #258
@richiware we tested this internally. The fix does not appear to work (see below). Could you re-produce this for you before the fix and could you test that it does not break for you after the fix? If yes, how did you test it?

How we tested :

[code]

This ran until I did "apt-get update" in another window (I was trying to install 'stress' because I was in a fresh ADE) and then it hung at 99 like

[2019-03-08 19:56] wjwwood commented on #251
There were none of which I am aware, that's why I encouraged you to double check that your network is working properly. Something may have changed, but not that I can remember.

[2019-03-09 15:01] TSC21 commented on #251
How can that be verified? There are no changes on the agent code or the ROS2 subscriber that would justify this.

[2019-03-09 15:33] TSC21 commented on #251
@richiware maybe you can give a hint here? Thanks!

[2019-03-10 18:42] dejanpan commented on #258
@deeplearningrobotics and @pbaughman  @richiware I also tested this today and found out that the fix seems to work.

What I needed to do is compile whole workspace from src. If I only compiled https://github.com/ros2/rmw_fastrtps, the test would still hang at 99. So this is what I did:

Term 1:
[code]

If you wanna switch back to a broken version:
[code]

Term2:
[code]

The test has now been runni

[2019-03-11 06:27] richiware commented on #258
When I was testing and implementing the solution I always compiled the whole workspace. I'm a bit lost about relationship between ROS2 packages. But it sounds like my patch was not being applied.

[2019-03-11 14:42] richiware commented on #251
Can you provide me a Wireshark capture where FastRTPS publisher and ROS2 subscriber are involved? It will be helpful for me.

[2019-03-11 17:19] pbaughman commented on #258
Ok - I guess this is something else's build dependency, so if you don't re-compile the higher level thing you don't get the new behavior.  I tested again by rebuilding the whole workspace and it seems to be running successfully now

[2019-03-11 19:31] richiware commented on #258
If you are happy with the solution, I would be able to create a PR to rmw_fastrtps.

[2019-03-13 12:28] alsora commented on #255
Hi, unfortunately I do not have new updates on this issue.

However I noticed that when I run a single ROS2 process with many participants, FastRTPS opens a different port for each of them.
Could this be related?

[2019-03-13 12:33] alsora opened #261 "Max value for ROS_DOMAIN_ID"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - crystal
- DDS implementation:
  - FastRTPS 1.7.0

#### Steps to reproduce issue

This is linked to [this post on ROS Answers](https://answers.ros.org/question/318386/ros2-max-domain-id/).

[code]

#### Expected behavior

The ROS_DOMAIN_ID should be used to decide

[2019-03-13 14:59] MiguelCompany commented on #257
Fast-RTPS [v1.7.2](https://github.com/eProsima/Fast-RTPS/releases/tag/v1.7.2) has been released and includes eProsima/Fast-RTPS#434

@alsora feel free to check the behavior is the expected.

[2019-03-13 15:46] dirk-thomas commented on #261
The FastRTPS API `eprosima.fastrtps.rtps.BuiltinAttributes.domainId` is a `uint32_t` and there is no restriction in place what values to set it to. So I am not sure if the rmw impl. should artificially limit the value range.

@richiprosima are all possible `uint32_t` values valid or has FastRTPS some restrictions on its range?

[2019-03-14 06:38] richiware commented on #261
Due to the DDS standard formula to calculate the ports, as @alsora said, there is a limitation. Currently we don't check the restriction, but we will. I will link the associated PR with this issue. Thanks.

[2019-03-14 07:37] richiware commented on #258
@dejanpan Is the solution good to you? Can I create the PR?

[2019-03-14 21:35] dejanpan commented on #258
@richiprosima we confirmed that it works, please create a PR. But I think that we also need a test for it. Do you have an idea how to write such a test?

[2019-03-17 13:07] TSC21 commented on #251
@richiware @richiprosima here it goes:https://drive.google.com/open?id=1bE9j-zO-2_4BcieeDeuxlY2Q9qOSZhPS.

On this example, you have the microRTPS agent publishing multiple types of messages, but the ones in specific that matter are the SensorCombined ones, for which the `sensor_combined_listener` (the ROS2 listener) is looking for. Any tips on how to solve this would help. Thanks!

[2019-03-18 06:41] richiware commented on #255
I continue being not able to reproduce your issue.

How it is opening ports is normal. Several participants will use the same port for multicast metatraffic. But each one will open another two unicast ports, for unicast metatraffic and user data. This is the common behavior in DDS and I don't think this is related.

[2019-03-18 06:51] richiware commented on #258
No idea. I don't know how to write a deterministic test. The error is erratic and depends on a sample being received after rmw_fastrtps calls FastRTPS `take` function and before it updates its internal counter.

[2019-03-18 09:28] alsora commented on #255
Ok thank you a lot for your eplainations.
I think that we can close this issue since it is not reproducible.
In case I will re-open in once I get some relevant updates

[2019-03-18 09:28] #255 closed

[2019-03-18 11:11] alsora commented on #257
Ok, I finally tested release 1.7.2 with the current ROS2 master branch and the issue is now fixed.

We can close it.

[2019-03-18 11:11] #257 closed

[2019-03-21 02:38] TSC21 commented on #251
@richiware can you help me with this? Thank you

[2019-03-21 09:34] richiware commented on #251
I miss some submessages. Can you capture also the localhost interface?
Also I see the ROS2 participant uses in its participant info the parameter UserData with the content `name=sensor_combined_listener;namespace=/;`. I don't know if this is important for ROS2 communications.

[2019-03-21 13:30] richiware commented on #251
I don't know, maybe @wjwwood could answer that.

[2019-03-21 17:07] wjwwood commented on #251
No, it will not prevent communication, but it is used for things like `ros2 node list`.

[2019-03-21 19:41] gonzodepedro opened #265 "Using different typesupports on same node and topic ends in segfault"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Source
- Version or commit hash:
  - Head
- DDS implementation:
  - Fast RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Create a node that registers to an already registered topic but with a different typesupport. If we assume that the node is using rosout log, and that r

[2019-03-22 13:06] #258 closed

[2019-03-26 12:43] murikill opened #269 "Usage of ros2/rmw_fastrtps with Fast-RTPS standalone (without ROS2)"
Hi,

it is possible to use ros2 publisher with Fast-RTPS standalone programs? I want to proof followed concept:

I want to start a publisher inside a ros2 system (i.e. demo_node_cpp publisher). On the other side I've compiled Fast-RTPS on my system and I've created an example .idl with usually string variable. Standalone (publisher - subscriber) works Fast-RTPS very well. Next I want to combine th

[2019-03-27 00:07] TSC21 commented on #251
Well, then I am kinda stuck on what to actually investigate.

[2019-03-27 00:12] TSC21 commented on #251
@wjwwood @richiware can you please suggest on other things to verify so to understand why there's no bind? I really appreciate your inputs. Thanks in advance

[2019-03-27 00:21] wjwwood commented on #251
@TSC21 did you give @richiprosima the "capture data with localhost"? I don't have any more ideas, I haven't worked on either Fast-RTPS or rmw_fastrtps_cpp recently, but eProsima did refactor the rmw implementation last release (e.g. https://github.com/ros2/rmw_fastrtps/pull/203), so presumably they know if anything significant changed.

After that, communication works for us, and all the code that

[2019-03-27 00:32] TSC21 commented on #251
I was wondering what in specific are we looking for on `localhost` besides RTPS messages, which was what I sent to @richiprosima. But yes I guess I can do a full capture.

I already tried that myself but I nothing comes obvious to my eyes. The PR you are showing me has the code of the release I was already using in Bouncy, and I suppose now in Crystal. What I wanted to understand if it there was s

[2019-03-27 06:52] richiware commented on #251
@TSC21, as you are executing both applications in the same machine, several RTPS messages are sent through localhost, and I couldn't see them in your previous Wireshark capture.

[2019-03-27 19:09] tfoote commented on #269
Duplicate question asked at: https://answers.ros.org/question/319723/use-ros2-fastrtps-with-standalone-fastrtps-programs/ closing this infavor of that thread.

[2019-03-27 19:09] #269 closed

[2019-03-28 00:41] gonzodepedro commented on #265
This only happens in fastrtps.
Connext and OpenSplice don't show this behavior.

[2019-03-28 13:02] hidmic commented on #265
Is there anyone from eProsima we can ping to take a look at this?

[2019-03-28 13:19] clalancette commented on #265
Generally @richiware is our point of contact with eProsima.  @richiware any thoughts about this issue?

[2019-03-28 23:58] TSC21 commented on #251
@richiware understood. Here it goes: https://drive.google.com/open?id=1WctMEIdQrokgFZrfBVTnYidszuZwCMNb. Thanks in advance!

[2019-03-31 17:11] TSC21 commented on #251
@richiprosima @richiware any input? Thanks!

[2019-04-01 05:07] richiware commented on #265
I will try to check it this week.

[2019-04-01 05:57] richiware commented on #251
Your Publisher and ROS2 Subscriber are using the same topic name: "rt/SensorCombined_topic". But the type name differs. Your Publisher is using "px4_ros_com::msg::dds_::SensorCombined_" and ROS2 Subscriber is using "px4_msgs::msg::dds_::SensorCombined_". This is the reason they are not matching.

[2019-04-01 06:00] TSC21 commented on #251
Oh right!! That makes much more sense now! Can you please tell me how did yoi verify that on the Wireshark? After some inspection I didn't find that info. Thanks!!

[2019-04-01 06:42] richiware commented on #251
Publisher info (`DATA(w)`) and Subscriber info (`DATA(r)`)  have this information inside.

[2019-04-08 18:45] TSC21 commented on #251
@richiware thank you very much for your input! I was able to solve this by setting the same userspace type for the publisher and the subscriber. It was an issue introduced after a big package restructure. Again, thanks!

[2019-04-12 10:10] richiware commented on #265
I was not able to check it. We are working on the next release and I didn't have time. We have this issue tracked on our tracker system. We will address it at some point. Sorry.

[2019-04-12 10:15] richiware commented on #261
We are working on the next release and we want to introduce this limitation in this version.

[2019-04-12 22:51] dirk-thomas commented on #265
This is really a blocker for FastRTPS compatibility. So please consider working on a patch early in order to ensure a fix will be available in the upcoming release.

[2019-04-24 08:49] LuisGP commented on #265
Hi everybody,

We have been taking a look into this and the problem is that in this case we are trying to register two different types (the C typesupport, and the CPP typesupport) with the same name in the same participant, and this behavior isn't allowed by Fast-RTPS.

Once the participant registers one typesupport, it will always use that typesupport. So, when the application tries to write C da

[2019-04-24 16:24] dirk-thomas commented on #265
Yes, in general we can have multiple different representations on the ROS side which all map to the same type for DDS. I am not sure if that N-to-1 mapping can happen within the `rmw_fastrtps_cpp` package or needs to be supported by FastRTPS natively.

[2019-04-25 05:59] LuisGP commented on #265
Thank you @dirk-thomas
We need to think carefully about how to support that N-to-1 mapping.
Just to throw some light on our throughs, we need to be able to switch between typesupport with the same name, taking into account that the participant currently has a 1-1 relationship between types and names and without losing DDS type name (and thus, DDS matching).
Any suggestion will be welcome.

[2019-05-07 22:32] jacobperron opened #277 "Improve performance of type name demangling"
#### Feature description

It was noticed in the addition of #266, that there was a performance hit, possibly due to the use of the `regex` library. See https://github.com/ros2/rmw_fastrtps/pull/266#discussion_r281784723 for a discussion.

A simple benchmark is timing the rcl graph tests before and after applying the change:

[code]

On my machine,
before: **03.06** seconds
after: **04.28** seconds

[2019-05-16 15:40] dirk-thomas commented on #265
Please see ros2/rcl_interfaces#61 for a workaround (passing `_log_disable_rosout:=true`).

[2019-05-21 15:46] mkhansen-intel opened #280 "FastRTPS 1.8.0 causes hangs in Navigation2"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Source
- Version or commit hash:
  - 0.7.2
- DDS implementation:
  - Fast-RTPS master branch (1.8.0)
- Client library (if applicable):
  - rclcpp
#### Steps to reproduce issue

Currently I have to run our Navigation2 system test to reproduce this, I'm trying to find a simpler example. However what I se

[2019-05-21 16:01] mkhansen-intel commented on #280
I mean besides the fact that the topics are being published

[2019-05-21 16:08] dirk-thomas commented on #280
Please do so in order for others to be able to help.

[2019-05-21 16:48] mkhansen-intel commented on #280
OK, here are instructions:

0. Assuming you've already cloned and built the ros2 repos following the 'Building from source' directions, and you're using the 'master' version of the ros2 repos file.

1. clone our repo
[code]
2. Download and build source dependencies:
[code]
3. Build Navigation2 with system tests
[code]
4. Run the system tests
[code]
At this point, you'll see that the test_localizat

[2019-05-21 17:03] mkhansen-intel commented on #280
I forgot, of course you have to `source install/setup.bash` after step 2 and step 3.

[2019-05-21 17:58] nburek commented on #280
@mkhansen-intel Do these tests using service servers and clients? There was an issue with some of the test related to using the parameter client that were caused by a race condition of the server and client not being fully subscribed to each other before the function to wait for the service to be ready returns true on the client side. In that case we were seeing that the client call was hanging be

[2019-05-21 18:31] mkhansen-intel commented on #280
@nburek - I don't think that's the same issue, but I'll look into this more deeply and see. I believe the only wait for service would be for setting use_sim_time=True in this case, but I don't think that's what's hanging. I'll verify that and post again.

[2019-05-21 22:22] jacobperron commented on #277
Closed by #488

[2019-05-21 22:56] dirk-thomas commented on #280
I just tried the following and can confirm the hang with FastRTPS:

* Shell A:
  * install the Dashing prerelease Debian packages (`ros-dashing-*`)
  * source `/opt/ros/dashing/setup.bash`
  * clone `ros-planning/navigation2`, `ros-simulation/gazebo_ros_pkgs@ros2` (will be released soon) and `BehaviorTree/BehaviorTree.CPP@ros2` (since its release failed to build) into a workspace `ws`
  * call `co

[2019-05-21 23:03] mkhansen-intel commented on #280
@dirk-thomas - glad you are able to reproduce

When you back up to the previous released version of FastRTPS do you see the test pass? That's what I see.

I believe our test is hanging when we try to set use_sim_time on our nodes. At least that's what I'm seeing when I run manually. I need to test again with the old version to confirm.

[2019-05-21 23:42] dirk-thomas commented on #280
From reading the sources a bit more it does look like that you are currently making the assumption that you can publish a message right after the publisher has been created without waiting for potential subscribers to be matched.

For the `initialpose` topic I added that kind of logic on both sides (see https://github.com/dirk-thomas/navigation2/commit/5fbeb2b1cd070fdf4b72c501270bdea9e3b0f450). Th

[2019-05-22 00:18] mkhansen-intel commented on #280
Is that invalid? In ROS it was OK, and this hasn't been a problem in the past for ROS2 that I know of. We can make the change, but if this is something we should be doing everywhere, we're not, and it would take us a bit of work to implement in every node. I'm OK with doing that, if that's the best practice for ROS2.

[2019-05-22 05:02] dirk-thomas commented on #280
Yes, at least in terms of that the code is subject to a race.

This has always been the case - the time race just shows on some system / platforms but not on others.

For my snippet above the check of the matched endpoint count is fine sine the test knows exactly how many endpoints to expect. In many other cases the expected count is unknown. Then the software needs to be designed in a way that it

[2019-05-22 06:02] MiguelCompany commented on #280
We are trying to reproduce this, will keep you informed

[2019-05-22 10:17] MiguelCompany commented on #280
One thing to note. The requirement of the publisher waiting for the subscriber to match is only necessary when durability is set to `RMW_QOS_POLICY_DURABILITY_VOLATILE` (which is the value on rmw_qos_profile_default). Changing it to `RMW_QOS_POLICY_DURABILITY_TRANSIENT_LOCAL` should make the subscriber receive the sample even if it was published before the its creation.

[2019-05-22 17:09] dirk-thomas commented on #280
:+1:

That is certainly possible. But in some cases transient local isn't a good choice and volatile should still reliable discover / match endpoints given enough time.

[2019-05-23 00:13] dirk-thomas commented on #280
@richiprosima FYI this one seems to be a very similar report of the same problem: ros2/ros2#651

[2019-05-23 14:06] mkhansen-intel commented on #280
@dirk-thomas - given that we're days from Dashing release can we either:
1. Roll back to 1.7.2 with rmw_fastrtps 0.7.1
2. Include Opensplice in the binaries so that we can set RMW_IMPLEMENTATION=rmw_opensplice_cpp without having to build ROS2 from source repos

[2019-05-23 14:09] clalancette commented on #280
@mkhansen-intel Number 2 is already available; if you `apt-get install ros-dashing-rmw-opensplice-cpp`, you should be able to build and run against opensplice.

[2019-05-23 14:14] mkhansen-intel commented on #280
@clalancette - thanks I'll try that!

[2019-05-23 14:18] dirk-thomas commented on #280
Just for the record: the same is also true for Connect - just install `ros-dashing-rmw-connext-cpp`. That is for the Debian packages.

For the big archives you just need to run the OpenSplice / Connext installed and the ROS 2 binaries can use those by selecting then with the env var.

[2019-05-23 15:35] mkhansen-intel commented on #280
I'm trying to get this to work in our Dockerfile here:
https://github.com/ros-planning/navigation2/pull/745

It doesn't seem to be running with opensplice, or else opensplice is also failing in the Dockerfile, I can't tell exactly.

Our Dockerfile starts with pulling the OSRF ros2:nightly dockerfile then building on top of that. I'm installing the `ros-dashing-rmw-opensplice-cpp` but it doesn't se

[2019-05-23 17:12] alsora opened #281 "Discovery: too slow and high network usage"
Hi,

after updating to Fast-RTPS 1.8.0 I have again issues during discovery when running applications with approximately 20 nodes.

The behavior is the same I found in Fast-RTPS 1.7.0 https://github.com/ros2/rmw_fastrtps/issues/249

I can tell you that all the nodes discover each other, however the Endpoint Discovery Phase hangs up forever.

Moreover, during the discovery, I can see a network usag

[2019-05-23 17:13] alsora commented on #280
May be a discovery problem related to https://github.com/ros2/rmw_fastrtps/issues/281?

[2019-05-24 07:46] MiguelCompany commented on #281
Hi @alsora

How have you checked the nodes have discovered each other? Because if they havent, there is a chance for the discovery to depend on the participant's announcement period.

Will you be so kind to send Wireshark captures of the working and non-working case, in order to better understand where the problem may be?

I don't think so, since that change was recovering the timings to be the sa

[2019-05-24 10:17] alsora commented on #281
@MiguelCompany Thank you for replying

Here you can see the functions that I'm using for checking PDP and EDP
https://github.com/irobot-ros/ros2-performance/blob/master/performances/performance_test/src/ros2/system.cpp#L110

I use the following APIs: `Node::get_node_names()` for PDP and `Node::count_subscribers(topic_name)` for EDP.

For what concerns reproducing the issue: note that I am testing

[2019-05-24 11:15] MiguelCompany commented on #281
The nightly sanitizer jobs have found a data race on [custom_participant_info.hpp](https://github.com/ros2/rmw_fastrtps/blob/master/rmw_fastrtps_shared_cpp/include/rmw_fastrtps_shared_cpp/custom_participant_info.hpp) (`discovered_names` and `discovered_namespaces` are not properly protected). This means `Node::get_node_names()` could be giving wrong results.

So, let's summarize ...
1. Creating 10

[2019-05-24 11:22] MiguelCompany commented on #281
By the way, we are trying to reproduce the problem with the example you provided on #249. We added the example to ros2 demos repo [here](https://github.com/eProsima/demos/tree/eprosima/disc_test) and haven't been able to reproduce the problem

We are also adding a blackbox test for a similar situation: 30 participants each creating one publisher and one subscriber to the same topic [here](https://

[2019-05-24 11:51] alsora commented on #281
Yes that's exactly what happens.

`wait_pdp_discovery` returns almost immediately (less than 100 milliseconds).

Adding some logs here and there, I see always a small number of subscriptions not matched (less than 3).

I think that in any case adding some tests like this can be really useful also for the future!

However, keep in mind that each ROS2 node also creates a Parameter Server, i.e. 6 RTP

[2019-05-24 11:59] alsora commented on #281
I tried again the old "stress test", I start seeing problems when I have 1 publisher 50 subscribers

[2019-05-24 14:08] alsora commented on #281
@MiguelCompany  Here the wireshark data.
For these tests I set the discovery timeout to 50 seconds.

#### TEST 1: no wait between nodes creation
PDP time: 50ms
EDP time: timeout

![test_1](https://user-images.githubusercontent.com/25433200/58333344-1dcf4480-7e35-11e9-95a1-3a719537f543.png)

#### TEST 2: 1 sec wait between nodes creation
PDP time: 0
EDP time: 0

![test_2](https://user-images.github

[2019-05-27 13:24] MiguelCompany commented on #281
We found the issue. It was related with a change necessary for the implementation of the lifespan QoS. A fix is on the way in eProsima/Fast-RTPS#541, a new blackbox test is being added in eProsima/Fast-RTPS#542, and a new unit test is under development.

[2019-05-27 13:25] MiguelCompany commented on #280
We found the issue. It was related with a change necessary for the implementation of the lifespan QoS. A fix is on the way in eProsima/Fast-RTPS#541, a new blackbox test is being added in eProsima/Fast-RTPS#542, and a new unit test is under development.

[2019-05-27 16:53] dirk-thomas commented on #281
@MiguelCompany great news!

@alsora can you please retest with the latest code including the fix.

[2019-05-27 16:54] dirk-thomas commented on #280
@MiguelCompany great news.

@mkhansen-intel can you please retest with the latest code including the mentioned patch.

[2019-05-28 04:14] mkhansen-intel commented on #280
I pulled the latest Fast-RTPS master branch and rmw_fastrtps master, and I don't see our test pass. It looks like a new error message from Gazebo:
[code]
I haven't seen that message 'xcb_connection_has_error() returned true' before.

[2019-05-28 08:41] MiguelCompany commented on #280
That is surely not related to fastrtps, as xcb_connection_has_error is part of [XCB core API](https://xcb.freedesktop.org/manual/group__XCB__Core__API.html#ga70a6bade94bd2824db552abcf5fbdbe3)

I am setting up a workspace to reproduce the problem with the localization test, starting from the instructions on [this comment](https://github.com/ros2/rmw_fastrtps/issues/280#issuecomment-494589023). I al

[2019-05-28 10:24] alsora commented on #281
I tested again with the latest updates.

The situation is definitely improved, but it's not fixed.

Considering 10 runs:
 - 8/10 discovery is completed within 1 second
 - 2/10 PDP hangs up (timeout 50 seconds)

This is different than what I saw last week, where PDP was working and EPD was not.

[2019-05-28 11:02] MiguelCompany commented on #280
I've found an issue and it is not in fastrtps. It puzzles me that you said the tests pass with v1.7.2 and with rmw_opensplice, because I've found that the publisher of the "scan" topic is best effort, while the subscriber is reliable, and that configuration should make them incompatible for communication.

On my side the tests didn't pass with 1.7.2

The following patch taking the qos profile from

[2019-05-28 13:59] MiguelCompany commented on #281
This may be related with the data race I mentioned on my previous [comment](https://github.com/ros2/rmw_fastrtps/issues/281#issuecomment-495579779).

The data race affects the data structures consulted by `Node::get_node_names()`, so that _may be_ the reason of the hung up.

I created #283 with a proposed fix.
@alsora Will you be so kind to test against it?

[2019-05-28 14:08] mkhansen-intel commented on #280
@MiguelCompany - I tested and that change you suggested above definitely helps. I submitted a PR for it. Thanks for helping with that. I think the changes you made above helped also (eProsima/Fast-RTPS#541,).

Let me see if between those changes and this PR we get our CI to pass again and I'll close this ticket.

[2019-05-28 14:37] alsora commented on #281
@MiguelCompany The problem persists even with that fix.

[2019-05-29 16:24] dirk-thomas commented on #280
@mkhansen-intel Any update?

[2019-05-30 01:42] jacobperron commented on #277
I've compared the usage of std::regex_replace with an implementation based on std::string::replace ([code](https://gist.github.com/jacobperron/57751f4f986fc1981c60fbc2eadedd5e)) and it is significantly faster (~23x). But, after replacing all usages in `rmw_fastrtps` I didn't notice any performance improvement. The regex calls must not be the culprit for the performance degradation.

[2019-05-30 12:31] clalancette commented on #277
Good to know.  I'm still in favor of doing this, but we can defer to later (and we'll have to figure out the other performance degradation).

[2019-05-30 16:08] dirk-thomas commented on #280
I will go ahead and close this ticket assuming the problem has been resolved. If that is not the case please feel free to comment with more information and the ticket can be reopened.

[2019-05-30 16:08] #280 closed

[2019-05-30 18:44] glmnet opened #317 "Exception sending message over network"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  -
- DDS implementation:
  - fast rtps? I'm not sure of having chosen one
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
I'm publishing odometry data from a robot, it is a differential drive one, using mostly turtlebot3 as example, many mes

[2019-06-03 19:26] clalancette opened #285 "ABBA deadlock in rmw_fastrtps/Fast-RTPS"
## Bug report

There seems to be a ABBA deadlock in how rmw_fastrtps and Fast-RTPS proper are taking locks.  This most easily shows up in a ROS 2 multi-threaded executor program.  I haven't been able to create a simple example that makes it happen, but in my complex example, it happens pretty regularly.  Note that I'm not sure if this is a bug in rmw_fastrtps or Fast-RTPS, but we'll start here.

*

[2019-06-04 05:44] richiware commented on #285
I've noticed I introduced that deadlock on commit fc4b27. Trying to fix a race condition I didn't be aware of introducing a ABBA deadlock. Reading again the code of that commit I removed an internal variable that maybe is was the responsible of having the mutex there. I will take a look to your PR.

[2019-06-04 11:42] clalancette commented on #285
That's OK, I approved it and didn't notice the potential race either :).

Thanks, appreciated.

[2019-06-04 11:57] #285 closed

[2019-06-07 21:27] cottsay opened #289 "Compile warning with -Wclass-memaccess"
## Bug report

**Required Info:**

- Operating System:
  - Fedora 30
- Installation type:
  - source
- Version or commit hash:
  - 0.7.3
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Compile from source using system's default compiler, `g++ (GCC) 9.1.1 20190503 (Red Hat 9.1.1-1)`

#### Expected behavior
No warnings.

#### Actual behavi

[2019-06-07 23:35] jacobperron commented on #277
I've spent some time trying to cut down on string copies (e.g. using std::string::reserve, mutate operator "+=", removing temporary variables, using output parameters), but none of my attempts showed a significant improvement in performance.

In fact, when I revert the change introduced in #266 I see slightly worse performance compared to the master branch.

[code]
I'm using the same benchmark fro

[2019-06-10 09:10] MiguelCompany commented on #261
@alsora This should have been solved by eProsima/Fast-RTPS#496, which is part of 1.8.0 release. Can this issue be closed?

[2019-06-10 16:10] alsora commented on #261
@MiguelCompany Thank you, it works perfectly

[2019-06-10 16:10] #261 closed

[2019-06-21 03:32] sloretz commented on #265
Commenting that this appears to prevent a lifecycle node from subscribing to the `.../transition_event` topic of another lifecycle node. A C++ subscriber crashes when taking data because the C typesupport is already being used by [`rcl_lifecycle`](https://github.com/ros2/rcl/blob/b6f4bc97faf34dd85f7acff7cb27945cfe438369/rcl_lifecycle/src/com_interface.c#L84-L86).

<details><summary>backtrace</summ

[2019-06-27 20:29] clydemcqueen opened #297 "Messages stop 90s after network is disconnected (multicast is enabled on loopback)"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 18.04
- Installation type:
  -  binaries
- Version or commit hash:
  -  dashing
- DDS implementation:
  -  Fast-RTPS
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

 - boot with network enabled, e.g., Ethernet plugged in
 - enable multicast on loopback, e.g.,
[code]
 - in terminal 1: `ros2 run demo_nod

[2019-06-28 17:20] jacobperron commented on #277
Here are the related PRs that are eligible for backport into Dashing:

- https://github.com/ros2/rcpputils/pull/13
- https://github.com/ros2/rmw_opensplice/pull/272
- https://github.com/ros2/rmw_connext/pull/359
- https://github.com/ros2/rmw_fastrtps/pull/291

---

@clalancette I'm not convinced there is more performance improvement that can be made related to the type name demangling, so I'm clos

[2019-06-28 17:20] #277 closed

[2019-06-28 17:23] clalancette commented on #277
That's fine.  We can always revisit and improve in the future if there is a need.

[2019-07-03 23:36] emersonknapp opened #299 "Thread safety warnings in rmw_node_info_and_types.cpp"
## Bug report

The nightly thread safety build is marked unstable because some potentially thread-unsafe code was introduced -

see the CI job for warning details https://ci.ros2.org/view/nightly/job/nightly_linux_clang_libcxx/67/warnings23Result/

**Required Info:**

- Operating System:
  - Linux x86_64
- Installation type:
  - CI Build
- Version or commit hash:
  - Last 36 builds
- DDS implement

[2019-07-04 12:27] ivanpauno commented on #299
I guess the warning was introduced in https://github.com/ros2/rmw_fastrtps/pull/283.

[2019-07-04 14:13] MiguelCompany commented on #299
Good guess. That PR introduced a `RCPPUTILS_TSA_GUARDED_BY` annotation for the two maps the warnings are complaining about. The change was necessary because tsan was complaining on concurrent access to both of them.

[2019-07-09 16:43] #299 closed

[2019-07-22 07:30] spiderkeys opened #303 "Creating a topic without a leading forward slash"
Referencing:
https://github.com/ros2/rmw_fastrtps/pull/192

ROS2 Version:
Dashing

I am working on a ROS2 application in which I need to publish to topics which do not have leading forward slashes. The target of communication is a pure DDS application, not a ROS2 application. I was hoping that using avoid_ros_namespace_conventions=true would help me achieve this, but it looks like there is still a

[2019-07-22 07:38] spiderkeys commented on #303
Closing this, as I just found https://github.com/ros2/ros2/issues/496, which seems to be a better place to discuss.

[2019-07-22 07:38] #303 closed

[2019-07-22 18:42] danielwangksu opened #304 "Coverity report data leak"
It seems ` request.buffer_ = new eprosima::fastcdr::FastBuffer();` did not get deleted

https://github.com/ros2/rmw_fastrtps/blob/62b7534ca154d44db6d7953d6a147d6e6a0abf34/rmw_fastrtps_shared_cpp/include/rmw_fastrtps_shared_cpp/custom_service_info.hpp#L70-L102

[2019-07-22 18:46] danielwangksu opened #305 "coverity report data leak"
When `if (rmw_serialized_message_resize(serialized_message, data_length) != RMW_RET_OK)` take the true branch `tss` will not be released

https://github.com/ros2/rmw_fastrtps/blob/62b7534ca154d44db6d7953d6a147d6e6a0abf34/rmw_fastrtps_cpp/src/rmw_serialize.cpp#L43-L48

[2019-08-08 21:00] nburek commented on #265
For anyone who is blocked on having their node subscribe to rosout when using rclcpp you can work around this issue by disabling logging to rosout on the node that you have subscribing to rosout. The example of how to do this using the ros1_bridge as an example is below.

When using ros2 run:
`ros2 run ros1_bridge dynamic_bridge __log_disable_rosout:=true`

In your launch file when using ros2 laun

[2019-08-22 17:50] mabelzhang commented on #304
@danielwangksu Thanks for finding these! Do you want to open a PR to address this and #305?

[2019-08-22 22:24] jacobperron commented on #297
I can reproduce on 18.04 by enabling multicast with

    sudo ip route add 224.0.0.0/4 dev lo

Running the talker and listener and turning off my network interface.

I notice the listener stops logging messages about 90 seconds after the network is disabled and when I re-enable the network it continues logging messages after about 20 seconds.

I'm running the latest ROS 2 branches from source with

[2019-08-22 22:34] jacobperron commented on #297
@richiware @MiguelCompany Any thoughts?

[2019-08-28 06:37] hyunseok-yang opened #310 "[rmw_publish.cpp] can not publish data"
## Bug report

Occasionally happened like below error..
(I've never seen like this error message before with crystal version..)

[launch.sh-1] terminate called after throwing an instance of 'rclcpp::exceptions::RCLError'
[launch.sh-1]   what():  failed to publish message: cannot publish data, at /tmp/binarydeb/ros-dashing-rmw-fastrtps-shared-cpp-0.7.5/src/rmw_publish.cpp:52, at /tmp/binarydeb/ros-

[2019-08-28 06:37] hyunseok-yang commented on #310
https://github.com/ros2/rclcpp/issues/827

[2019-08-28 21:29] mm318 commented on #265
So `__log_disable_rosout:=true` needs to come after `--ros-args` now? How are you supposed to write that as a `launch_ros.actions.Node()` in a launch file? `launch_ros.actions.Node(arguments=['__log_disable_rosout:=true'])` will put `__log_disable_rosout:=true` before the `--ros-args` flag.

[2019-08-29 01:25] hyunseok-yang commented on #310
Thanks.

[2019-08-29 13:18] ivanpauno commented on #265
Yes

No. First `args` is added to `cmd`, then `--ros-args` is added followed by remapping rules and a parameter file. See:
https://github.com/ros2/launch_ros/blob/413ad50fc6e759b4fad60a80a8297de0c475b628/launch_ros/launch_ros/actions/node.py#L129-L132

If you want to pass `__log_disable_rosout`, you have to do:
`launch_ros.actions.Node(arguments=['--ros-args', '__log_disable_rosout:=true'])`

We c

[2019-08-29 15:44] mm318 commented on #265
Won't
[code]
give you an extraneous `--ros-args` at the end, like
[code]
That looks non-ideal.
<br>

That would be great!

[2019-08-29 15:51] nburek commented on #265
This seems like a conversation that needs to be turned into an issue on roslaunch to support passing these kinds of parameters properly.

[2019-08-29 17:39] ivanpauno commented on #265
Yes, that will exactly happen, and it's handled correctly in `rcl`. See https://github.com/ros2/rcl/pull/477.

FYI https://github.com/ros2/launch_ros/issues/60.

[2019-09-04 20:00] clalancette opened #313 "Publisher can crash after too many unclean subscriber shutdowns"
## Bug report

I've run into a scenario where a crashing subscriber can (eventually) cause a Fast-RTPS publisher to crash.  I have one node that is publishing a `sensor_msgs/msg/Imu` message on `/imu` (it is the
code for https://github.com/KumarRobotics/imu_vn_100/tree/dashing , but I suspect anything will work here).  I have a second node which subscribes to the `/imu` topic, but intentionally cr

[2019-09-05 12:10] MiguelCompany commented on #297
@jacobperron I've been able to reproduce this using just a Fast-RTPS example. I've found the issue and a fix is on the way (eProsima/Fast-RTPS#695)

[2019-09-05 19:00] jacobperron commented on #297
Awesome, thanks!

[2019-09-05 20:23] rotu opened #314 "rmw_fastrtps_dynamic_cpp broken on Ubuntu Dashing"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - ros-dashing-rmw-fastrtps-dynamic-cpp/bionic,now 0.7.5-1bionic.20190831.053524 amd64 [installed]
  - ros-dashing-tf2-ros/bionic,now 0.11.4-1bionic.20190904.065457 amd64 [installed,automatic]

- DDS implementation:
  - rmw_fastrtps_dynamic_cpp

#### Steps to reprodu

[2019-09-06 07:36] MiguelCompany commented on #297
@jacobperron The PR has been merged into master. Would appreciate if you check on your side.

[2019-09-06 13:20] clalancette commented on #313
Good question.  It varies run-to-run, but it is usually between 1 and 2 minutes.  I now am also noticing that as this is happening, the CPU usage of the publisher is steadily climbing until it is taking a 100% of a CPU.

I don't currently.  I'll rebuild and try to grab one.

Yes, I'm using default QoS values for both publisher and subscriber, so the values you have above are correct.

Both on Ubun

[2019-09-06 13:51] clalancette commented on #313
Here's the stack trace from the core dump:

[code]

Unfortunately it isn't super useful since the crash happens because of an unhandled exception that was thrown.  The real error is suggested more by the error message we see on the console right before the crash:

[code]

[2019-09-06 16:50] jacobperron commented on #297
The issue appears to be resolved for me using https://github.com/eProsima/Fast-RTPS/commit/acbc07b30742be65fac349e1eb9478b8aaa36c32.

Cheers!

[2019-09-06 16:50] #297 closed

[2019-09-06 18:33] dirk-thomas commented on #313
This looks like a duplicate of ros2/ros2#714.

[2019-09-10 10:18] MiguelCompany opened #315 "RasperryPi3 Wireless communication problem"
**Note:** This was initially reported by @codebot by e-mail to eProsima. It is posted here following a suggestion by @dirk-thomas

## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - dashing (ros-dashing-rmw-fastrtps-cpp is 0.7.5-1bionic)
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

[code]

#

[2019-09-10 11:06] MiguelCompany commented on #315
At eProsima we haven't been able to reproduce this. We have tested the following environment:

### Machines
Machine 1: Raspberry Pi 3 Model B Plus Rev 1.3 with Ubuntu 18.04 and ROS 2 Dashing from binaries
<details>
Installed following [this guide](http://emanual.robotis.com/docs/en/platform/turtlebot3/ros2/#setup)

[code]

</details>

Machine 2: x86 Laptop (Dell XPS 15 9560) with Ubuntu 18.04 and

[2019-09-10 19:07] clalancette commented on #313
It does indeed look like that is the case.  I'll add a comment to that issue with the additional reproducer from this issue, and close this one.

[2019-09-10 19:07] #313 closed

[2019-09-11 07:50] MiguelCompany commented on #315
@codebot Could you update your comment sharing the RPi3 model (as seen at the beginning of `dmesg` output), as long as the output from `lsb_release -a` and `uname -a` ?

[2019-09-11 08:50] aaronchongth commented on #315
Hi @MiguelCompany! here are the outputs requested,
[code]
[code]
[code]

[2019-09-11 16:33] ivanpauno commented on #313
https://github.com/ros2/ros2/issues/714 is a collection of examples where the publisher crashes, and in all of them the root cause seems to be a failure in `FastRTPS`.
But I'm not to sure if the failures are all of the same kind, or if they are different problems (we're basically catching all the exceptions and then publishing `cannot publish data`, which is not much informative).

[2019-09-12 07:59] MiguelCompany commented on #315
@aaronchongth Thank you for posting this.

I've seen I am using model 3B+, so I've taken a 3B to repeat the tests with it. I had to upgrade it in order to match your kernel version, and after reboot I had error messages from the firmware, which I fixed following the instructions of [this post]. I am not saying that your problem is related to this, just putting it here so other users know of this i

[2019-09-16 05:52] MiguelCompany commented on #315
We repeated the tests on Thursday and Friday, and had the same results as in [my previous comment](https://github.com/ros2/rmw_fastrtps/issues/315#issuecomment-529885721), so right now we cannot reproduce the problem.

[2019-09-16 07:32] richiware commented on #317
I was investigating using the suggested commands:

[code]

As I said in a previous comment, publisher's `write()` function is returning `false` because the `max_blocking_time` is exceeded. FastRTPS v1.9 is more real-time aware and any `write()` operation will never exceed `max_blocking_time`. By default it is 100ms.

This example is sending samples which are larger than 45Mb, and the publisher's h

[2019-09-16 08:09] quhezheng commented on #317
@richiware How to configure the `max_blocking_time`  in the rmw_fastrtps ? The only place where setup the default value is constructor of ReliabilityQosPolicy:
[code]
Any sample code to tell us how to workaround this bug? It's killing our team members

[2019-09-16 12:26] richiware commented on #317
@quhezheng _rmw_fastrtps_ is able to load a default XML file containing QoS and use them. Write an XML file named `DEFAULT_FASTRTPS_PROFILES.xml` in the working directory (directory where you execute the command) with this content:

[code]

[2019-09-16 13:57] ivanpauno commented on #317
Thanks for investigating the issue @richiware !
The reliability `QoS` policy of both nodes I commented (`showimage` and `cam2image`) is best effort.
Should `max_blocking_time` time affect them?

[2019-09-17 08:00] MiguelCompany commented on #315
I tested both with IGMP Snooping on and off, and noticed no difference. The performance of multicast over WiFi depends also on the number of devices connected to the same AP, and is usually bad if different connection kinds (2.4GHz vs 5GHz) are involved. Nevertheless, turning IGMP snooping on usually improves multicast communications performance and is usually recommended.

Regarding this, I check

[2019-09-17 14:56] richiware commented on #317
Yes, current version 1.9.0 uses reliability QoS `max_blocking_time` to maintain strict real-time, both reliable and besteffort. Sure not all users want this feature. We met and decided to make this configurable. This will be released in v1.9.1 via eProsima/Fast-RTPS#718. If not configured strict real-time, the behaviour of `max_blocking_time` will be the defined by DDS standard.

[2019-09-18 05:46] MiguelCompany commented on #315
In order to reduce multicast traffic, the following `DEFAULT_FASTRTPS_PROFILES.xml` file can be used

[code]

[2019-09-19 00:37] jaisontj opened #319 "Getting QoS policies of all the publishers publishing to and subscribers subscribing to a topic"
## Feature request

#### Feature description
As a part of implementing [this](https://github.com/ros2/rmw/issues/151) feature for the ros2cli, some form of map of topic to publisher and subscriber qos policies need to be maintained.

#### Implementation considerations
Similar to how [`rmw_count_publishers` and `rmw_count_subscribers`](https://github.com/ros2/rmw_fastrtps/blob/master/rmw_fastrtps_s

[2019-09-19 13:50] ivanpauno commented on #317
Thanks for the answer and the patch!
I think it's good to stick to the DDS standard. Also, having an extra option for people that want strict real time sounds nice for both reliable and best-effort sounds nice.

I also see that we have to do some changes in our side, in order to use reliable communications properly (e.g.: expose `max_blocking_time`).

extra question:
Is there a way to know if an o

[2019-09-20 07:56] quhezheng commented on #317
@richiware Many thanks.
I wend to back to 1.7.0, there was no locking op. I don't understand what the lock it protecting? Can we remove the lock OP for short term in our local code base? What's consequence would it bring if remove it??

[2019-09-20 08:27] richiware commented on #317
@ivanpauno Currently there is no way to know if writing fails because of a timeout. It is still old API. We are working on have the standard DDS PSM C++ API ([working branch](https://github.com/eProsima/Fast-RTPS/tree/feature/pubsub_layer_changes)). This API contemplates that case.

@quhezheng  What version of FastRTPS are you using? v1.8.x? We can make a back port of eProsima/Fast-RTPS#718 to v1.

[2019-09-20 16:51] wjwwood opened #321 "graph guard condition not triggered when new nodes are discovered"
Looking at this function which adds/removes node information based on discovery events, it never triggers the node graph guard condition(s):

https://github.com/ros2/rmw_fastrtps/blob/2017684f26dce6b85166ccd8df253eabc94acf81/rmw_fastrtps_shared_cpp/include/rmw_fastrtps_shared_cpp/custom_participant_info.hpp#L60-L116

This makes it impossible to wait for a node to become available, because you cann

[2019-09-21 02:17] quhezheng commented on #317
@richiware we are using v 1.8.1，should we -DSTRICT_REALTIME= OFF to workaround our case?

[2019-09-23 07:40] richiware commented on #317
Until now the solution was able only in 1.9.x. I've created eProsima/Fast-RTPS#730 with the backport to 1.8.x. By default STRICT_REALTIME will be OFF. I hope this helps you.

[2019-09-25 21:57] Jconn opened #324 "Realsense D435 subscribing to raw camera from different computer throws exception"
- Operating System:
Ubuntu 18.04
- Installation type:
binary
- Version or commit hash:
  from ros dashing binary 0.7.5
- DDS implementation:
fast rtps
- Client library (if applicable):
rclcpp

#### Steps to reproduce issue
Use librealsense [ros2 package ](https://github.com/intel/ros2_intel_realsense)to publish image data from the realsense D435.

Subscribe to image data from a seperate computer.

[2019-09-26 08:07] MiguelCompany commented on #315
Good news, we could reproduce the problem and have a solution.

We bought the same router @codebot was using on its report. Using that router (TP-Link Archer C4000) we did reproduce the issue. Looking at wireshark captures we saw that multicast traffic from the RPi-3 to the Wired-connected PC was not received. So while preparing countermeasures to reduce the multicast traffic to the minimum and im

[2019-09-26 16:57] ivanpauno commented on #319
AFAIK, you're analysis is correct. There is no way to access the data if you don't store it at discovery.

Sure! any change that improves code reuse is ok.

I would have done the same, so I don't have a better way.

[2019-09-26 17:16] ivanpauno commented on #319
@richiprosima Is this somehow available from the publisher/subscriber discovery information?

[2019-09-26 20:47] dirk-thomas commented on #315
The referenced PR updated the Dashing repos file to the provided commit hash of FastRTPS. I also create a note on the project board to do a new release before the next sync: https://github.com/orgs/ros2/projects/12

[2019-09-26 20:52] clalancette commented on #315
@MiguelCompany Have these changes made it onto the master branch?  The code has changed somewhat significantly, but it looks like master is still using the old values: https://github.com/eProsima/Fast-RTPS/blob/9d562024886f4e1e7be363356ab032ecba934490/include/fastrtps/rtps/attributes/RTPSParticipantAttributes.h#L187

[2019-09-27 01:36] SlimyCoffee opened #325 "Question: Is there way to change DDS protocol setting UDP to TCP?"
Can I post a question here? If not, I'm sorry and I'll delete this post right away.

I'm trying to combine new ROS2 system to existing one, which uses TCP only for some reason.

If ROS2 DDS implementation supports TCP, the combining work will get easy.

I've been looking for a long time, but I haven't found any information, about "how to change DDS setting" or like that. And that's why I'm asking

[2019-09-27 08:10] MiguelCompany commented on #315
@clalancette We gave priority on fixing this for current users, and made the necessary changes on 1.8.x directly. We are getting this into 1.9.x through eProsima/Fast-RTPS#744 and will cherry pick from there to master

[2019-09-27 09:12] MiguelCompany commented on #319
@ivanpauno Yes, the discovery info structure has an XXXProxyData info field, that is the one processed [here](https://github.com/ros2/rmw_fastrtps/blob/master/rmw_fastrtps_shared_cpp/include/rmw_fastrtps_shared_cpp/custom_participant_info.hpp#L163). This structure has an XXXQos m_qos field with the QoS parameters of the discovered endpoint. See [here](https://github.com/eProsima/Fast-RTPS/blob/mas

[2019-09-27 11:58] clalancette commented on #325
A better place to ask questions is on https://answers.ros.org; this consolidates all of our questions together in one place and makes it more searchable.  I'll close this out for now, but please feel free to follow-up there.

[2019-09-27 11:58] #325 closed

[2019-09-27 12:06] SlimyCoffee commented on #325
I got it. I'm sorry about your inconvenience.

Actually, I already posted the same question ROS answers, before posting it
to git issue.

https://answers.ros.org/question/333982/is-there-any-way-to-use-tcpip-in-ros2-dds-communication/

if you don't mind, could you visit this link and leave some comments?

2019년 9월 27일 (금) 오후 8:58, Chris Lalancette <notifications@github.com>님이 작성:

[2019-09-27 12:49] ivanpauno commented on #319
@richiprosima Sorry for the unclear question.
I see that `WritterQoS` is available in `WritterProxyData`, though some of our qos settings like `history_kind` and `history_depth` don't seem to be part of the `WritterQoS`, but of [HistoryQos](https://github.com/eProsima/Fast-RTPS/blob/9d562024886f4e1e7be363356ab032ecba934490/include/fastrtps/qos/QosPolicies.h#L759-L760) which is part of the [TopicAt

[2019-09-29 11:12] EgalYue opened #326 "https://github.com/ros2/rmw_fastrtps/issues/81"
Hi,
I also met the same problem as described as: https://github.com/ros2/ros1_bridge/issues/218
But I think this problem should be related to **DDS** not **ros1_bridge**, I also post this issue on
https://answers.ros.org/question/334183/ros2-dashing-message-frequency-lower-than-expected/.

I have been stuck in this problem for a long time.Really need someone to help me!
Thanks!

[2019-09-29 11:12] #326 closed

[2019-09-29 11:13] EgalYue opened #327 "Message frequency lower than expected."
Hi,
I also met the same problem as described as: ros2/ros1_bridge#218
But I think this problem should be related to DDS not ros1_bridge, I also post this issue on
https://answers.ros.org/question/334183/ros2-dashing-message-frequency-lower-than-expected/.

I have been stuck in this problem for a long time.Really need someone to help me!
Thanks!

[2019-09-29 15:44] #327 closed

[2019-10-02 13:07] tompe17 commented on #317
I am running the binary version of dashing and have this problem when using the parameter bridge to send messages between four ROS1 agents on different computers each with its own ROS core.  Setting the timeout to 10s eliminated the crashes but I do not  get fairness in the communication. I get chunks of data from one computer.

I have two questions. Is this a bug that will be resolved if I wait?

[2019-10-02 13:48] ivanpauno commented on #317
I tested both the `image_tools` example and @clalancette [example](https://github.com/ros2/rmw_fastrtps/issues/317#issuecomment-530078825) and they aren't crashing more (using current master, installation from source).

Could you @glmnet @realdream @Jconn @SteveMacenski @maxlein check if the problem is also solved in your respective examples?

It's already solved if you are installing from source

[2019-10-03 19:00] jaisontj commented on #321
I am assuming that the fix will be similar to [this](https://github.com/ros2/rmw_fastrtps/blob/2017684f26dce6b85166ccd8df253eabc94acf81/rmw_fastrtps_shared_cpp/include/rmw_fastrtps_shared_cpp/custom_participant_info.hpp#L179-L183). Basically, if a new name is discovered and added successfully, then trigger the guard?

[2019-10-08 07:43] MiguelCompany commented on #315
@clalancette The changes made their way to master on eProsima/Fast-RTPS#760. I think this can be closed.

[2019-10-08 11:10] clalancette commented on #315
Sounds good, thanks.  Will close it out.

[2019-10-08 11:10] #315 closed

[2019-10-10 17:05] mabelzhang commented on #324
Thank you for the report. Could you please provide a backtrace?

[2019-10-11 17:19] jaisontj commented on #319
@ivanpauno I want to display the participant name along with their QoS Profile. For this I plan on leveraging the [discovered_names](https://github.com/ros2/rmw_fastrtps/blob/master/rmw_fastrtps_shared_cpp/include/rmw_fastrtps_shared_cpp/custom_participant_info.hpp#L188) map, but I've observed that some participants do not have names and therefore do not have an entry in the `discovered_names` map

[2019-10-14 15:19] ivanpauno commented on #319
All nodes have names. All participants associated with a node have names.
Some DDS vendors provide a participant name (IIRC, only `Fast-RTPS`).
If not, we use the `user data` qos policy to communicate the node name.

Still, the `discovered_names` map should have all the node names.
Participants created using non-ros code may not have a name (nor use our `user data` convention).

IMO, If the partic

[2019-10-14 15:44] jaisontj commented on #319
Alright!

If this is obvious then leaving it empty makes sense, but if not, leaving something that might help the user identify why some publishers/subscribers do not have names might be helpful IMO.

Hmm, interesting. The reason why I went with including the `QoS Policy` in the `ParticipantTopicMap` was because
- we are associating `QoS Policies` with each publisher's/subscriber's `GUID_t`
- avoi

[2019-10-14 16:04] ivanpauno commented on #319
Leaving a message is fine too.
Please, left something that is not a valid node name (see https://github.com/ros2/rmw/blob/ca572aa2de3082ace9b8572011c393630745e010/rmw/include/rmw/validate_node_name.h#L34-L40 and https://github.com/ros2/rmw/blob/ca572aa2de3082ace9b8572011c393630745e010/rmw/include/rmw/validate_namespace.h#L40-L42).

Watch out, it's the participant GUID, not the publisher/subscriber

[2019-10-14 22:08] jaisontj commented on #319
This is a little confusing because this line resides in a function which is called from `onSubscriberDiscovery` and `onPublisherDiscovery`. Therefore, I assumed that the GUIDs would correspond to `Subscriber` and `Publisher` GUIDs respectively.

Ok, so to summarize on the design:
- Create a new struct `TopicData`

[code]
Here, `types` and `qos_profiles` have the same indexing.

- update `typedef s

[2019-10-15 15:16] ivanpauno commented on #319
If we only need the "by topic" info, and we don't provide an equivalent "by node" introspection ability, `ParticipantToTopicMap` doesn't need to be updated.

Both a template or taking directly `rmw_qos_profile_t` sounds reasonable.

Ha, good question.
What if we add the publisher/subscription GUID to the TopicData struct?
That will provide an unique way of identifying each publisher/subscription.

[2019-10-15 17:29] jaisontj commented on #319
Thank you for answering these @ivanpauno

Yeah, that seems to be the only way. This is why I initially thought that modifying the `ParticipantQosMap

So here is what I am thinking about the struct:

[code]
where all three have the same indexing.

Alternatively, we could also have them be a `vector<tuple<guid_t, string, rmw_qos_profile_t>>`

Is there a reason to go for separate arrays with same ind

[2019-10-15 20:07] ivanpauno commented on #319
Encapsulating in only one type sounds reasonable, whatever you prefer.

[2019-10-16 21:09] gonzodepedro commented on #324
A backtrace would be very useful to diagnose the issue.

[2019-10-17 15:55] Jconn commented on #324
I will get that backtrace tomorrow. I thought I had one logged somewhere but I can't find it

[2019-10-18 22:35] Jconn commented on #324
Okay I finally got that backtrace. I'm not sure if this is a fastrtps issue, I just know that I don't get this issue reproducing with opensplice community edition. I haven't tried other dds layers.

steps to reproduce:

- On computer 1 launch realsense node with gdb, with 640x480 resolution, 30 depth fps, 6 rgb fps
- On computer 2 run `ros2 topic echo /camera/color/image_raw`

this debug informati

[2019-10-22 06:30] jacobperron commented on #324
Thanks for the backtrace.

Pretty sure this is where the error message is coming from:

https://github.com/IntelRealSense/librealsense/blob/31ea4aab7348923275a2a347bcaec7dba1b2bf5e/src/source.cpp#L127

Too bad it's not logging more details about the exception...

My best guess is that this callback function is throwing:

https://github.com/intel/ros2_intel_realsense/blob/8bc9a3de955bd0b6c2798728d4

[2019-10-24 01:11] TSC21 commented on #251
@richiprosima looks like for each release I always stump into the same issue. This time with ROS 2 Dashing. Using Fast-RTPS 1.8.2. But now, trying to analyse the Wireshark capture, I didn't find any clues: https://drive.google.com/open?id=1QTx6xjRQZ1Rh1F-sibek40AvvSsF3hw6. Topic names look the same, types as well. I don't find `DATA(r)` or `DATA(w)` though. Only `DATA(p)`.

Can you help here? Than

[2019-10-24 05:21] MiguelCompany commented on #246
I think this can be closed now that ros2/ros2#814 has been merged

[2019-11-06 09:29] JaimeMartin commented on #265
@dirk-thomas this issue was not prioritized sorry. I can assign resources to this as soon we finish the release of Fast RTPS for eloquent, scheduled for next week.

[2019-11-13 20:48] hidmic opened #337 "Liveliness assertion errors are a bit loud"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04, both on AMD64 and ARM64
- Installation type:
  - Binaries and from source
- Version or commit hash:
  - https://github.com/ros2/rmw_fastrtps/commit/a16c45ef11a19361a15c585497bf373a7ed0bae6 (https://github.com/eProsima/Fast-RTPS/commit/141b778c66c4f1f7aeb5c55551c173e3237beae9 on `1.9.x` at [eProsima/Fast-RTPS](https://github.c

[2019-11-15 19:20] #246 closed

[2019-11-18 15:34] ivanpauno commented on #337
@hidmic It seems to be already addressed in Fast-RTPS, can we close this?

[2019-11-18 16:12] hidmic commented on #337
Indeed, thanks @richiware !

[2019-11-18 16:12] #337 closed

[2019-11-21 04:34] DensoADAS opened #338 "Reliable publisher/subscriber-connection drops messages in high frequency scenarios"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - deb packages or source
- Version or commit hash:
  - Eloquent or ros2 master branch (22. October 2019)
- DDS implementation:
  - FastRTPS, OpenSplice, RTI connext
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Create a simple publisher/subscriber pair, both having reliable

[2019-11-21 04:38] dirk-thomas commented on #338
Thanks for checking.

Since the current ticket indicates a problem with FastRTPS I moved the ticket to the `rmw_fastrtps` repository.

do you want me to create issue for each rmw implementation such as rmw_fastrtps?

If there are similar problems with other RMW implementations please open a separate ticket in their RMW repo - or if applicable to all RMW impl. in one of the general ROS 2 repos.

@r

[2019-11-21 14:46] DensoADAS commented on #338
I have tried cyclonedds and I can't get any drops as well on a real machine (release mode). In a VM though there are some, definitely way less than in the other dds implementations though (in about 30% of tries I get drops -> 0-2% messages).

Also debug mode works better in comparison for all dds implementations but with FastRTPS about 50% of the sent messages still can't be received (the runtime

[2019-11-21 14:47] richiware commented on #338
I was able to do a quick digging. Our first thought was it is a problem with QoS configuration. In particular with the History depth and the Asynchronous thread. By default in ROS2, FastRTPS and Connext uses the asynchronous thread. This implies the user's sample is stored in the History and another thread is in charge of sent it, not the user's thread directly. Due to the example is writing so fa

[2019-11-21 15:15] fujitatomoya commented on #338
@richiware

this QoS for sync thread you mentioned previous comment, that is for fastrtps native setting, right? (not ROS2 QoS)

could you tell us how/what to set the QoS for fastrtps to enable sync thread? i will confirm it on my side as well.

[2019-11-21 15:39] richiware commented on #338
Write a *DEFAULT_FASTRTPS_PROFILES.xml* file in the directory where you are launching the executables. The XML content:
[code]
When launching the talker, use this command:

[code]

[2019-11-21 15:54] dirk-thomas commented on #338
@richiware While the custom config might workaround the problem I would like to find out why a release build has so much worse performance than a debug build.

[2019-11-21 16:03] JaimeMartin commented on #338
@dirk-thomas

My guess: in the release build you are filling the buffers faster than in the debug build.

[2019-11-21 16:11] dirk-thomas commented on #338
I don't understand how this statement makes any sense. Both builds use the exact same application with a fixed frequency. How can the debug build keep up with the rate and not loose any packages but the release build drops 60-70%?

[2019-11-21 16:25] JaimeMartin commented on #338
@dirk-thomas because perhaps in the debug release you are not really sending at that frequency as it takes more time to call write. I have read they are using periods of sleep of 1 uS.

We will have more details soon.

[2019-11-21 16:43] dirk-thomas commented on #338
I added measuring the time it takes to do the publishing in DensoADAS/high_freq_pub_example#3. For me the put is the following which doesn't indicate that the release build is publishing data faster at all:

* Debug build: `[INFO] [talker]: Sent 100000 messages in 13,772,113,709 ns`
* Release build: `[INFO] [talker]: Sent 100000 messages in 15,871,665,372 ns`

[2019-11-21 16:56] JaimeMartin commented on #338
@dirk-thomas thanks for the experiment. We are working on this now, we will update you as soon we have more information.

[2019-11-22 06:18] fujitatomoya commented on #338
@dirk-thomas @JaimeMartin @richiware

confirmed no messages dropped with the following QoS profile,

[code]

[code]

[2019-11-22 08:45] Barry-Xu-2018 commented on #338
Dear all,

About this problem, I have different opinion. I don't think 'drop' behavior is a problem.

'Reliable' is Qos for DDS layer. In specification (Data Distribution Service, v1.4, page 98), 'Reliable' means "Specifies the Service will attempt to deliver all samples in its history. Missed samples may be retried." Based on my understanding, it make sure sample in history can be delivered succe

[2019-11-22 10:04] MiguelCompany commented on #338
Thank you very much @Barry-Xu-2018 for your thorough explanation

I would like to add what happens when not using the asynchronous writing thread. In that case, the thread adding the sample is blocked until the RTPS datagram is sent to the network, so each sample is added after the previous one has been physically put on the socket output buffer, and then the publisher doesn't drop any message